Repository luke-h1/lhowsam.com: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier

lefthook.yml:

EXAMPLE USAGE:
pre-commit:
  parallel: true
  commands:
    eslint:
      glob: "*.{js,ts,jsx,tsx}"
      run: eslint {staged_files} --fix --quiet
      stage_fixed: true
    
    prettier:
      glob: '*.{js,jsx,ts,tsx,css,scss,md,html,json,yml}'
      run: ./node_modules/.bin/prettier --write "{staged_files}"
      stage_fixed: true

feat(frontend): migrate to bun
  .bun-version
  .github/actions/build/action.yml
  .github/actions/deploy/action.yml
  .github/actions/install/action.yml
  .github/actions/ui-test/action.yml
  .github/workflows/build.yml
  .github/workflows/deploy.yml
  .github/workflows/dev-ui-tests.yml
  .github/workflows/live-ui-tests.yml
  .github/workflows/sst-ui-tests.yml
  Dockerfile
  Makefile
  bun.lock
  bun.lockb
  bunfig.toml
  docker-compose.yml
  package.json
  pnpm-lock.yaml
Due: prettier

feat(frontend): fix build
  .github/actions/install/action.yml
  .github/workflows/nextjs_bundle_analysis.yml
Due: prettier

chore(ci): disable dev ui tests
  .github/actions/install/action.yml
Due: prettier

fix(frontend): hotfix bg issue
  package.json
  pnpm-lock.yaml
  src/styles/app.css.ts
Due: eslint, prettier

chore(frontend): cleanup cfg
  Dockerfile
  docker-compose.yml
  dpl-tf.sh
  remove-sst.sh
  scripts/deploy-sst.sh
  terraform/main.tf
Due: prettier

feat(frontend): migrate to flat lint cfg
  .eslintignore
  .eslintrc.json
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
  src/app/blog/[slug]/page.tsx
  src/app/projects/[slug]/page.tsx
  src/components/CommandMenu/index.tsx
  src/components/ContentRenderer.tsx
  src/components/SocialShare/index.tsx
  src/components/Toaster/index.tsx
  src/middleware.ts
  src/test/mockDate.ts
  src/types/util.ts
Due: eslint, prettier

chore(frontend): update deps
  package.json
  pnpm-lock.yaml
  src/components/Skills/Skills.module.scss
Due: prettier

chore(frontend): update deps
  package.json
  pnpm-lock.yaml
Due: prettier

fix(frontend): increase warmer funcs for staging
  scripts/deploy-sst.sh
  sst.config.ts
Due: eslint, prettier

feat(infrastructure): add more stable tf module
  .github/actions/build/action.yml
  .github/actions/deploy-open-next/action.yml
  .github/workflows/deploy.yml
  package.json
  scripts/deploy-sst.sh
  sst.config.ts
  terraform/dynamodb.tf
  terraform/main.tf
  terraform/remote.tf
  terraform/variables.tf
Due: eslint, prettier

feat(infrastructure): add more stable tf module
  package.json
  pnpm-lock.yaml
Due: prettier

feat(infrastructure): add more stable tf module
  .github/workflows/deploy.yml
  .gitignore
  terraform/envs/.gitkeep
  terraform/variables.tf
Due: prettier

feat(infrastructure): add more stable tf module
  .github/workflows/deploy.yml
Due: prettier

feat(infrastructure): add more stable tf module
  terraform/variables.tf
Due: none

feat(infrastructure): add more stable tf module
  .github/workflows/deploy.yml
  terraform/variables.tf
Due: prettier

feat(infrastructure): add more stable tf module
  .github/actions/deploy-open-next/action.yml
Due: prettier

feat(infrastructure): add more stable tf module
  terraform/dynamodb.tf
Due: none

feat(infrastructure): re-enable dev deloys
  .github/workflows/deploy.yml
Due: prettier

chore(frontend): add package lock for temp test
  .github/workflows/deploy.yml
  package-lock.json
Due: prettier

Convert to @opennextjs/cloudflare
  open-next.config.ts
  package-lock.json
  package.json
  pnpm-lock.yaml
  wrangler.jsonc
Due: eslint, prettier

chore(frontend): fetch now-playing more often
  src/components/NowPlaying/index.tsx
Due: eslint, prettier

chore: add cloudflare open-next config
  .gitignore
  open-next.config.ts
  package.json
  pnpm-lock.yaml
  wrangler.jsonc
Due: eslint, prettier

chore(ci): remove sst
  .github/workflows/sst-ui-tests.yml
Due: prettier

chore(frontend): add nwpl api key
  src/services/spotifyService.ts
  src/types/env.d.ts
Due: eslint, prettier

fix(frontend): fix crash on slug page
  src/app/blog/[slug]/page.tsx
Due: eslint, prettier

chore(frontend): prepare for cloudflare
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
Due: prettier

chore(frontend): prepare for cloudflare
  next.config.ts
  open-next.config.ts
  wrangler.jsonc
Due: eslint, prettier

chore(frontend): prepare for cloudflare
  .gitignore
  next.config.ts
  package.json
  pnpm-lock.yaml
Due: eslint, prettier

chore(tests): change reporter
  playwright-common.config.ts
Due: eslint, prettier

chore(frontend): deploy new cv
  .github/actions/install/action.yml
  .github/actions/ui-test/action.yml
  public/static/cv.pdf
Due: prettier

chore(infrastructure): remove network tuning
  .github/actions/install/action.yml
Due: prettier

chore(infrastructure): remove caching steps
  .github/actions/build/action.yml
  .github/actions/install/action.yml
Due: prettier

chore(infrastructure): tweak e2e settings
  package.json
  playwright-common.config.ts
  pnpm-lock.yaml
Due: eslint, prettier

chore(infrastructure): tweak e2e settings
  .github/actions/ui-test/action.yml
  .github/workflows/live-ui-tests.yml
  Makefile
Due: prettier

chore(infrastructure): bump action version
  .github/actions/install/action.yml
  .github/workflows/nextjs_bundle_analysis.yml
Due: prettier

chore(infrastructure): bump action version
  .github/actions/ui-test/action.yml
  Makefile
Due: prettier

chore(infrastructure): bump action version
  playwright-common.config.ts
Due: eslint, prettier
