Repository luke-h1/lhowsam.com: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier

lefthook.yml:

EXAMPLE USAGE:
pre-commit:
  parallel: true
  commands:
    eslint:
      glob: "*.{js,ts,jsx,tsx}"
      run: eslint {staged_files} --fix --quiet
      stage_fixed: true
    
    prettier:
      glob: '*.{js,jsx,ts,tsx,css,scss,md,html,json,yml}'
      run: ./node_modules/.bin/prettier --write "{staged_files}"
      stage_fixed: true

feat(frontend): update deps
  package.json
  pnpm-lock.yaml
Due: prettier

chore(frontend): update dependencies
  package.json
  pnpm-lock.yaml
Due: prettier

fix(frontend): filter on new project name
  src/services/projectService.ts
Due: eslint, prettier

--wip-- [skip ci]
  .github/workflows/deploy-aws.yml
  .gitignore
  .npmrc
  Dockerfile.production
  src/app/api/healthcheck/route.ts
  terraform/module/acm.tf
  terraform/module/alb.tf
  terraform/module/ecr.tf
  terraform/module/log.tf
  terraform/module/outputs.tf
  terraform/module/policy.tf
  terraform/module/task.tf
  terraform/module/variables.tf
  terraform/staging/.terraform.lock.hcl
  terraform/staging/app.out
  terraform/staging/backend.tf
  terraform/staging/main.tf
  terraform/staging/outputs.tf
  terraform/staging/variables.tf
Due: eslint, prettier

feat(infrastructure): provision ECS infra
  terraform/module/alb.tf
Due: none

feat(infrastructure): tf
  .github/workflows/deploy-aws.yml
  .github/workflows/destroy-dev.yml
  Dockerfile.production
  terraform/module/task.tf
Due: prettier

feat(infrastructure): provision ECS infrastructure for staging
  .github/workflows/deploy-aws.yml
  .github/workflows/destroy-dev.yml
  .github/workflows/destroy-ecs.yml
  .github/workflows/staging-ui-tests.yml
  Dockerfile.production
  Dockerfile.production.arm
  Makefile
  README.md
  src/middleware.ts
  terraform/module/.terraform.lock.hcl
  terraform/module/acm.tf
  terraform/module/alb.tf
  terraform/module/log.tf
  terraform/module/outputs.tf
  terraform/module/policy.tf
  terraform/module/task.tf
  terraform/module/terraform.tfstate
  terraform/staging/main.tf
  terraform/terraform.tfstate
Due: eslint, prettier

feat(infrastructure): tf
  .github/workflows/staging-ui-tests.yml
  terraform/staging/main.tf
Due: prettier

feat(infrastructure): custom server for ECS
  Dockerfile.production
  nodemon.json
  package.json
  pnpm-lock.yaml
  src/server.ts
  tsconfig.server.json
Due: eslint, prettier

feat(infra): swap to custom server for ECS
  Dockerfile.production
Due: none

chore(infrastructure): remove basic auth for staging
  .github/workflows/deploy-aws.yml
  .github/workflows/staging-ui-tests.yml
  Dockerfile.production
  Makefile
  src/server.ts
  terraform/module/task.tf
  terraform/module/variables.tf
  terraform/staging/main.tf
  terraform/staging/variables.tf
Due: eslint, prettier

chore(infrastructure): remove basic auth for staging
  terraform/module/task.tf
Due: none

chore(infrastructure): remove basic auth for staging
  src/middleware.ts
Due: eslint, prettier

chore(infrastructure): update desired count
  terraform/module/task.tf
  terraform/staging/main.tf
Due: none

chore(infrastructure): update desired count
  terraform/staging/main.tf
Due: none

chore(infrastructure): update desired count
  .github/workflows/deploy-aws.yml
  terraform/staging/main.tf
Due: prettier

chore(infrastructure): update desired count
  .github/workflows/staging-ui-tests.yml
Due: prettier

feat(frontend): cache static folder
  next.config.js
Due: eslint, prettier

feat(frontend): update dependencies
  package.json
  pnpm-lock.yaml
Due: prettier

feat(frontend): change color of mdx components
  src/components/MDXComponents.tsx
Due: eslint, prettier

chore(frontend): deploy new cv
  public/static/cv.pdf
  src/app/about/page.tsx
Due: eslint, prettier

chore(frontend): Delete terraform/staging/app.out
  terraform/staging/app.out
Due: none

chore(frontend): build on amplift
  package.json
Due: prettier

feat(frontend): amplify build
  package.json
Due: prettier

feat(frontend): trigger amplify deploy
  package.json
Due: prettier

feat(frontend): add stg tests
  .github/workflows/stg-ui-tests.yml
  Makefile
Due: prettier

feat(frontend): stg ui tests
  .github/workflows/staging-ui-tests.yml
  .github/workflows/stg-ui-tests.yml
Due: prettier

Added mandatory Microtica files
  .microtica/kube.config
  .microtica/microtica.yaml
  .microtica/schema.json
  .microtica/template.yaml
Due: prettier

chore(frontend): cleanup
  .github/workflows/stg-ui-tests.yml
  .microtica/kube.config
  .microtica/microtica.yaml
  .microtica/schema.json
  .microtica/template.yaml
Due: prettier

feat(frontend): enable PPR
  next.config.js
  package.json
  pnpm-lock.yaml
Due: eslint, prettier

feat(frontend): cache images for min of 60 secs
  .github/workflows/deploy-aws.yml
  Dockerfile.production
  next.config.js
Due: eslint, prettier

feat(frontend): unoptimized images
  .github/workflows/deploy-aws.yml
  next.config.js
Due: eslint, prettier

feat(infra): hosted zone
  terraform/module/acm.tf
Due: none

feat(frontend): stg ui tests
  .github/workflows/staging-ui-tests.yml
  Makefile
Due: prettier

feat(frontend): 1024 cpu share
  terraform/staging/main.tf
Due: none

feat(frontend): 512 cpu
  terraform/staging/main.tf
Due: none

feat(frontend): cache images for 120 secs
  next.config.js
Due: eslint, prettier

feat(ci): disable stg ui tests on cron
  .github/workflows/staging-ui-tests.yml
Due: prettier
