Repository luke-h1/lhowsam.com: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier

eslint:
  run: eslint {staged_files} --fix --quiet
  stage_fixed: true

prettier:
  run: ./node_modules/.bin/prettier --write "{staged_files}"
  stage_fixed: true

feat(frontend): tidy about page
  src/app/about/page.tsx
  src/components/Heading/Heading.css.ts
  src/components/Heading/index.tsx
Due: eslint, prettier

chore(frontend): update deps
  package.json
  pnpm-lock.yaml
Due: prettier

fix(infrastructure): disable ISR due to high vercel usage
  src/app/api/now-playing/route.ts
  src/app/blog/[slug]/page.tsx
  src/app/blog/page.tsx
  src/app/blog/tags/[slug]/page.tsx
  src/app/page.tsx
  src/app/projects/[slug]/page.tsx
  src/app/projects/page.tsx
  src/app/work/[slug]/page.tsx
Due: eslint, prettier

chore(infrastructure): once a day dev ui test
  .github/workflows/dev-ui-tests.yml
Due: prettier

feat(infra): sst
  .eslintrc.json
  .github/workflows/deploy.yml
  .github/workflows/sst-ui-tests.yml
  .gitignore
  Makefile
  deploy-sst.sh
  package.json
  pnpm-lock.yaml
  remove-sst.sh
  sst-env.d.ts
  sst.config.ts
  tsconfig.json
Due: eslint, prettier

fix(infra): fix sst test
  .github/workflows/sst-ui-tests.yml
  Makefile
Due: prettier

feat(infra): add image blurs
  next.config.js
  src/app/about/page.tsx
  src/app/api/now-playing/route.ts
  src/app/blog/[slug]/page.tsx
  src/app/blog/page.tsx
  src/app/blog/tags/[slug]/page.tsx
  src/app/page.tsx
  src/app/projects/[slug]/page.tsx
  src/app/projects/page.tsx
  src/app/work/[slug]/page.tsx
  src/components/Intro/index.tsx
  src/components/TalkItem/index.tsx
  src/components/WorkItem/index.tsx
  sst.config.ts
Due: eslint, prettier

chore(infra): increase img opt memory
  sst.config.ts
Due: eslint, prettier

fix(ci): fix cron expr
  .github/workflows/sst-ui-tests.yml
Due: prettier

chore(infra): increase server memory
  sst.config.ts
Due: eslint, prettier

chore(tests): try to fix flakiness
  e2e/commandmenu.spec.ts
  sst.config.ts
Due: eslint, prettier

chore(frontend): stage description update
  src/config/jobs.ts
Due: eslint, prettier

chore(frontend): stage description update
  src/components/ExperienceItem/ExperienceItem.test.tsx
  src/components/ExperienceItem/__snapshots__/ExperienceItem.test.tsx.snap
  src/config/jobs.ts
Due: eslint, prettier

feat(infra): sst + open next
  .eslintrc.json
  .gitignore
  Makefile
  dpl-tf.sh
  next.config.js
  open-next.config.ts
  package.json
  pnpm-lock.yaml
  src/hooks/useNProgress.ts
  sst.config.ts
  terraform/main.tf
Due: eslint, prettier

fix(infra): setup single zone deployment
  .npmrc
  deploy-sst.sh
  next.config.js
  src/middleware.ts
  terraform/main.tf
Due: eslint, prettier

fix(infra): fix sst
  next.config.js
Due: eslint, prettier

chore(sst): add static etag
  sst.config.ts
Due: eslint, prettier

chore(infra): 12hr sst test schedule
  .github/workflows/sst-ui-tests.yml
Due: prettier

chore(infra): proxy cloudflare url
  sst.config.ts
Due: eslint, prettier

chore(frontend): update deps
  package.json
  pnpm-lock.yaml
  src/middleware.ts
Due: eslint, prettier

chore(frontend): update description
  src/config/jobs.ts
Due: eslint, prettier

fix(ci): fix upload artifact
  .github/workflows/nextjs_bundle_analysis.yml
Due: prettier

fix(frontend): fix test snapshot
  src/components/ExperienceItem/__snapshots__/ExperienceItem.test.tsx.snap
Due: none

chore(frontend): update about
  public/images/luke-ab-1.png
  public/images/luke-about.jpg
  src/app/about/page.tsx
Due: eslint, prettier

chore(frontend): update about
  e2e/about.spec.ts
Due: eslint, prettier

chore(frontend): update about
  e2e/about.spec.ts
  src/app/about/page.tsx
Due: eslint, prettier

chore(frontend): update jobs
  src/config/jobs.ts
Due: eslint, prettier

chore(frontend): update jobs
  src/components/ExperienceItem/ExperienceItem.test.tsx
  src/components/ExperienceItem/__snapshots__/ExperienceItem.test.tsx.snap
  src/config/jobs.ts
Due: eslint, prettier

fix(frontend): fix install issue
  package.json
  pnpm-lock.yaml
Due: prettier

chore(frontend): update to latest next
  package.json
  pnpm-lock.yaml
Due: prettier

fix(frontend): fix ci
  pnpm-lock.yaml
Due: none

fix(frontend): fix ci
  src/components/Skills/Skills.module.scss
Due: prettier

fix(frontend): fix build
  package.json
  pnpm-lock.yaml
  sanity.config.ts
Due: eslint, prettier

feat(frontend): update to eslint flat cfg
  .eslintignore
  .eslintrc.json
  deploy-sst.sh
  dpl-tf.sh
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
  remove-sst.sh
Due: prettier

fix(frontend): fix ci
  src/app/blog/[slug]/page.tsx
  src/app/projects/[slug]/page.tsx
  src/app/work/[slug]/page.tsx
  src/utils/mdToHtml.ts
Due: eslint, prettier

feat(frontend): update revalidate
  src/app/api/disable-draft/route.ts
  src/app/api/draft/route.ts
  src/app/api/now-playing/route.ts
  src/app/blog/[slug]/page.tsx
  src/app/blog/page.tsx
  src/app/blog/tags/[slug]/page.tsx
  src/app/page.tsx
  src/app/projects/[slug]/page.tsx
Due: eslint, prettier

chore(ci): disable dev ui tests
  .github/workflows/dev-ui-tests.yml
Due: prettier

Path conditions:
  eslint: any of: *.{js,ts,jsx,tsx}
  prettier: any of: *.{js,jsx,ts,tsx,css,scss,md,html,json,yml}
