Repository luke-h1/lhowsam.com: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier

lefthook.yml:

EXAMPLE USAGE:
pre-commit:
  parallel: true
  commands:
    eslint:
      glob: "*.{js,ts,jsx,tsx}"
      run: eslint {staged_files} --fix --quiet
      stage_fixed: true
    
    prettier:
      glob: '*.{js,jsx,ts,tsx,css,scss,md,html,json,yml}'
      run: ./node_modules/.bin/prettier --write "{staged_files}"
      stage_fixed: true

chore(frontend): update deps
  .github/workflows/build.yml
  .github/workflows/deploy.yml
  .github/workflows/dev-ui-tests.yml
  .github/workflows/live-ui-tests.yml
  package.json
  pnpm-lock.yaml
  src/components/Gradient/Gradient.tsx
Due: eslint, prettier

fix(frontend): add prefix to sentry tunnel route
  next.config.js
Due: eslint, prettier

chore(frontend): update deps
  package.json
  pnpm-lock.yaml
Due: prettier

chore(frontend): update dependencies
  .eslintignore
  package.json
  pnpm-lock.yaml
Due: prettier

hotfix(frontend): account for slugs being potentially undefined
  src/app/blog/[slug]/page.tsx
  src/app/blog/tags/[slug]/page.tsx
  src/components/PostCard/PostCard.tsx
Due: eslint, prettier

hotfix(frontend): account for slugs being potentially undefined
  src/app/blog/[slug]/page.tsx
  src/app/blog/tags/[slug]/page.tsx
  src/components/PostCard/PostCard.tsx
  src/types/sanity.ts
Due: eslint, prettier

fix(frontend): hotfix undefined tags
  src/app/blog/[slug]/page.tsx
  src/app/blog/tags/[slug]/page.tsx
  src/components/PostCard/PostCard.tsx
  src/types/sanity.ts
Due: eslint, prettier

fix(frontend): hotfix tags
  src/app/blog/[slug]/page.tsx
  src/components/Meta/Meta.tsx
Due: eslint, prettier

ci(deploy): checkout main on live deploys
  .github/workflows/deploy.yml
Due: prettier

ci(deploy): only checkout main on prod deploys
  .github/workflows/deploy.yml
Due: prettier

fix(frontend): hotfix tags
  src/app/projects/[slug]/page.tsx
Due: eslint, prettier

feat(frontend): align ci deploy files
  .github/workflows/deploy.yml
Due: prettier

feat(frontend): shorten spotify revalidation time
  src/app/api/now-playing/route.ts
  src/components/NowPlaying/NowPlaying.tsx
Due: eslint, prettier

chore(frontend): remove sentry
  next.config.js
  sentry.client.config.ts
  sentry.edge.config.ts
  sentry.server.config.ts
Due: eslint, prettier

chore(frontend): remove sentry
  next.config.js
  package.json
  sentry.client.config.ts
  sentry.edge.config.ts
  sentry.server.config.ts
  src/app/global-error.tsx
Due: eslint, prettier

chore(frontend): update to latest next.js
  package.json
  pnpm-lock.yaml
  src/app/api/now-playing/route.ts
  src/components/NowPlaying/NowPlaying.tsx
Due: eslint, prettier

feat(frontend): use million.js for smaller imports
  next.config.js
  package.json
  pnpm-lock.yaml
Due: eslint, prettier

feat(frontend): add otel
  package.json
  pnpm-lock.yaml
  src/instrumentation.ts
Due: eslint, prettier

feat(ci): add bundle analysi
  .github/workflows/nextjs_bundle_analysis.yml
  package.json
Due: prettier

feat(ci): update bundle size
  .github/workflows/nextjs_bundle_analysis.yml
Due: prettier

chore(frontend): update bundle workflow
  .github/workflows/nextjs_bundle_analysis.yml
Due: prettier

chore(frontend): fix ci
  .github/workflows/nextjs_bundle_analysis.yml
Due: prettier

feat(frontend): image priority bump
  src/app/about/page.tsx
Due: eslint, prettier

chore(frontend): update dependencies
  package.json
  pnpm-lock.yaml
Due: prettier

feat(frontend): update deps
  package.json
  pnpm-lock.yaml
Due: prettier

feat(ci): fetch node version from .nvmrc and cache pnpm binary install
  .github/workflows/build.yml
  .github/workflows/deploy.yml
  .github/workflows/dev-ui-tests.yml
  .github/workflows/live-ui-tests.yml
  .github/workflows/nextjs_bundle_analysis.yml
Due: prettier

chore(app): update node version
  .nvmrc
Due: none

feat(ci): cache pnpm binary
  .github/workflows/build.yml
  .github/workflows/deploy.yml
  .github/workflows/dev-ui-tests.yml
  .github/workflows/live-ui-tests.yml
  .github/workflows/nextjs_bundle_analysis.yml
Due: prettier

fix(ci): fix pnpm cached binary
  .github/workflows/build.yml
  .github/workflows/deploy.yml
  .github/workflows/dev-ui-tests.yml
  .github/workflows/live-ui-tests.yml
Due: prettier

fix(ci): fix caching pnpm binary
  .github/workflows/build.yml
  .github/workflows/deploy.yml
  .github/workflows/dev-ui-tests.yml
  .github/workflows/live-ui-tests.yml
  .github/workflows/nextjs_bundle_analysis.yml
Due: prettier

feat(ci): cache pnpm and playwright binaries
  .github/workflows/build.yml
  .github/workflows/deploy.yml
  .github/workflows/dev-ui-tests.yml
  .github/workflows/live-ui-tests.yml
  .github/workflows/nextjs_bundle_analysis.yml
  test.txt
Due: prettier

fix(ci): fix issue installing pnpm binary
  .github/workflows/deploy.yml
  test.txt
Due: prettier

Added mandatory Microtica files
  .microtica/kube.config
  .microtica/microtica.yaml
  .microtica/schema.json
  .microtica/template.yaml
Due: prettier
