Repository luke-h1/lhowsam.com: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier

eslint:
  run: eslint {staged_files} --fix --quiet
  stage_fixed: true

prettier:
  run: ./node_modules/.bin/prettier --write "{staged_files}"
  stage_fixed: true

feat(infrastructure): pnpm
  scripts/build-lambda.sh
  scripts/deploy-lambda.sh
  terraform/lambda/lambda.tf
Due: none

feat(infrastructure): pnpm
  .github/workflows/deploy-lambda.yml
  scripts/build-lambda.sh
  terraform/lambda/lambda.tf
Due: prettier

feat(infrastructure): lambda
  .github/workflows/deploy-lambda.yml
Due: prettier

feat(infrastructure): secrets
  .github/workflows/deploy-lambda.yml
  terraform/lambda/acm.tf
  terraform/lambda/gateway.tf
Due: prettier

feat(infrastructure): test
  .github/workflows/deploy-lambda.yml
Due: prettier

feat(infrastructure): pnpm
  .github/workflows/deploy-lambda.yml
Due: prettier

docs(frontend): update README
  README.md
Due: prettier

chore(frontend): add missing deploy workflow
  .github/workflows/build.yml
  .github/workflows/deploy.yml
  .github/workflows/live-ui-tests.yml
Due: prettier

fix(ci): fix build workflows
  .github/workflows/build.yml
  .github/workflows/deploy.yml
  package.json
Due: prettier

fix(frontend): fix dev deploy
  .github/workflows/deploy.yml
Due: prettier

fix(frontend): fix links on blog post pages
  src/components/Link/Link.tsx
  src/components/MDXComponents.tsx
Due: eslint, prettier

fix(ci): fix live deploys
  .github/workflows/deploy.yml
Due: prettier

chore(ci): 12 hour schedule dev ui tests
  .github/workflows/dev-ui-tests.yml
Due: prettier

chore(frontend): update deps
  package.json
  pnpm-lock.yaml
Due: prettier

chore(frontend): update dependencies
  package.json
  pnpm-lock.yaml
Due: prettier

feat(frontend): add initial talk page
  pnpm-lock.yaml
  src/app/talks/page.tsx
  src/components/CommandMenu/CommandMenu.tsx
  src/components/Page.tsx
  src/components/PageHeader/PageHeader.tsx
  src/components/TalkItem/TalkItem.css.ts
  src/components/TalkItem/TalkItem.tsx
  src/hooks/useFeatureFlag.ts
  src/utils/featureFlags.ts
Due: eslint, prettier

feat(frontend): add cookie ff override
  src/app/talks/page.tsx
  src/hooks/useFeatureFlag.ts
  src/utils/featureFlags.ts
Due: eslint, prettier

chore(ci): add stale PR checks
  .github/workflows/stale-pr-check.yml
Due: prettier

feat(frontend): improve talk item
  src/components/TalkItem/TalkItem.css.ts
  src/components/TalkItem/TalkItem.tsx
Due: eslint, prettier

fix(frontend): allow cf insights
  next.config.js
Due: eslint, prettier

feat(frontend): add cf to csp
  next.config.js
Due: eslint, prettier

feat(frontend): add posthog feature flagging
  next.config.js
  package.json
  pnpm-lock.yaml
  src/app/talks/page.tsx
  src/components/CommandMenu/CommandMenu.tsx
  src/components/Providers.tsx
  src/types/env.d.ts
  src/utils/posthog.ts
Due: eslint, prettier

chore(frontend): remove renovate
  renovate.json
Due: prettier

chore(frontend): remove now playing endpoint in favor of aws-lambda
  src/app/api/now-playing/route.ts
  src/types/env.d.ts
Due: eslint, prettier

perf(frontend): web workers for analytics
  package.json
  pnpm-lock.yaml
  src/app/layout.tsx
  src/utils/newRelicScript.ts
Due: eslint, prettier

chore(frontend): remove new relic
  newrelic.js
  src/app/layout.tsx
  src/utils/newRelicScript.ts
Due: eslint, prettier

chore(frontend): upgrade all dependencies
  .env.example
  e2e/commandmenu.spec.ts
  next.config.js
  package.json
  playwright-common.config.ts
  pnpm-lock.yaml
  src/app/blog/[slug]/page.tsx
  src/app/layout.tsx
  src/app/projects/[slug]/page.tsx
  src/components/ContentRenderer.tsx
  src/components/ImageCarousel/ImageCarousel.tsx
  src/components/MDXComponents.tsx
  src/components/Meta/Meta.css.ts
  src/styles/prism.css
  src/styles/tokyo-night-dark.min.css
  src/utils/mdxToHtml.ts
Due: eslint, prettier

feat(frontend): fetch talks from sanity
  package.json
  pnpm-lock.yaml
  src/app/talks/page.tsx
  src/components/Providers.tsx
  src/components/TalkItem/TalkItem.tsx
  src/services/imageService.ts
  src/services/talkService.ts
  src/types/sanity.ts
Due: eslint, prettier

feat(frontend): fetch talks from sanity
  package.json
  pnpm-lock.yaml
  src/app/talks/page.tsx
  src/components/PostHogFeature.tsx
  src/components/Providers.tsx
  src/components/TalkItem/TalkItem.tsx
  src/instrumentation.ts
  src/services/imageService.ts
  src/services/talkService.ts
  src/types/sanity.ts
Due: eslint, prettier

chore(frontend): remove unused cache header
  next.config.js
  src/app/about/page.tsx
Due: eslint, prettier

fix(frontend): fix order of projects
  src/services/projectService.ts
Due: eslint, prettier

feat(frontend): refactor prom metrics
  next-env.d.ts
  next.config.js
  src/app/api/metrics/route.ts
  src/pages/api/metrics.ts
Due: eslint, prettier

Path conditions:
  eslint: any of: *.{js,ts,jsx,tsx}
  prettier: any of: *.{js,jsx,ts,tsx,css,scss,md,html,json,yml}
