Repository luke-h1/lhowsam.com: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier

lefthook.yml:

EXAMPLE USAGE:
pre-commit:
  parallel: true
  commands:
    eslint:
      glob: "*.{js,ts,jsx,tsx}"
      run: eslint {staged_files} --fix --quiet
      stage_fixed: true
    
    prettier:
      glob: '*.{js,jsx,ts,tsx,css,scss,md,html,json,yml}'
      run: ./node_modules/.bin/prettier --write "{staged_files}"
      stage_fixed: true

feat(frontend): enhance renovate.json
  renovate.json
Due: prettier

Update prod-ui-tests.yml
  .github/workflows/prod-ui-tests.yml
Due: prettier

chore: fix build
  .husky/pre-commit
  .husky/prepare-commit-msg
  jest.setup.ts
Due: eslint, prettier

feat(frontend): add back in lint-staged + alphabetize package.json
  .husky/pre-commit
  .husky/prepare-commit-msg
  lefthook.yml
  package.json
  scripts/alphabetizePackageJson.js
Due: eslint, prettier

feat(frontend): trial new relic
  .env.example
  .gitignore
  newrelic.js
  package.json
  pnpm-lock.yaml
  src/pages/_document.tsx
  src/types/env.d.ts
Due: eslint, prettier

chore: disable analyze workflow
  .github/workflows/analyze.yml
Due: prettier

chore: remove new relic
  newrelic.js
  package.json
  src/pages/_document.tsx
Due: eslint, prettier

chore: remove new relic
  .env.example
  pnpm-lock.yaml
  src/types/env.d.ts
Due: eslint, prettier

feat(frontend): fall refresh
  src/components/CommandMenu/CommandMenu.tsx
Due: eslint, prettier

feat(frontend): add cv link to connect section
  src/app/about/page.tsx
Due: eslint, prettier

[ImgBot] Optimize images
  public/code.svg
  public/favicon-1.png
  public/luke-1.png
Due: none

fix(frontend): fix typo
  src/app/about/page.tsx
Due: eslint, prettier

refactor(frontend): shorten revalidation time
  src/config/site.ts
Due: eslint, prettier

chore(frontend): update dependencies
  package.json
  pnpm-lock.yaml
Due: prettier

feat(frontend): update dependencies
  package.json
  pnpm-lock.yaml
Due: prettier

feat(frontend): add new relic monitoring
  .env.example
  newrelic.js
  next-env.d.ts
  package.json
  pnpm-lock.yaml
  src/pages/_document.tsx
  src/types/env.d.ts
Due: eslint, prettier

chore(frontend): remove out of date cv link
  src/app/about/page.tsx
Due: eslint, prettier

chore: enable new relic _document.tsx
  .env.example
  src/pages/_document.tsx
  src/types/env.d.ts
Due: eslint, prettier

chore: enable new relic _document.tsx
  src/pages/_document.tsx
Due: eslint, prettier

feat(frontend): add optimizePackageImports opt
  next.config.js
Due: eslint, prettier

newrelic
  package.json
  src/pages/_document.tsx
  tsconfig.json
Due: eslint, prettier

refactor(ci): simplify ci
  .github/workflows/analyze.yml
  .github/workflows/build.yml
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy.yml
  .github/workflows/dev-ui-tests.yml
  .github/workflows/prod-ui-tests.yml
  package.json
  pnpm-lock.yaml
  src/app/blog/[slug]/page.tsx
  src/app/blog/page.tsx
  src/components/Banner/Banner.tsx
  src/components/Footer/ThemeSelect/ThemeSelect.tsx
  src/components/Meta/Meta.tsx
  src/components/ProjectItem/ProjectItem.tsx
  src/types/env.d.ts
Due: eslint, prettier

refactor(ci): simplify ci
  .github/workflows/deploy.yml
Due: prettier

refactor(ci): simplify ci
  README.md
Due: prettier

chore(ci): cleanup ci
  .github/workflows/analyze.yml
  .github/workflows/build.yml
  .github/workflows/deploy.yml
  .github/workflows/dev-ui-tests.yml
  .github/workflows/prod-ui-tests.yml
Due: prettier

chore: simplify ci
  .github/workflows/deploy.yml
Due: prettier

chore: fix ci
  .github/workflows/deploy.yml
Due: prettier

cleanup repo
  .github/workflows/deploy.yml
Due: prettier

feat(frontend): update seo utils
  .github/workflows/prod-ui-tests.yml
  next-sitemap.config.js
  package.json
  src/app/layout.tsx
  src/app/robots.ts
  src/app/sitemap.ts
  src/utils/getPolicies.ts
Due: eslint, prettier

feat(frontend): update seo utils
  .github/workflows/prod-ui-tests.yml
Due: prettier

feat(frontend): update seo utils
  pnpm-lock.yaml
Due: none

feat(frontend): update seo utils
  src/app/robots.ts
Due: eslint, prettier

feat(frontend): update seo utils
  src/app/server-sitemap.xml/route.ts
Due: eslint, prettier

chore: update ci config
  playwright-common.config.ts
Due: eslint, prettier

chore: update ci config
  e2e/blog.spec.ts
  e2e/project.spec.ts
Due: eslint, prettier
