Repository luke-h1/lhowsam.com: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier

lefthook.yml:

EXAMPLE USAGE:
pre-commit:
  parallel: true
  commands:
    eslint:
      glob: "*.{js,ts,jsx,tsx}"
      run: eslint {staged_files} --fix --quiet
      stage_fixed: true
    
    prettier:
      glob: '*.{js,jsx,ts,tsx,css,scss,md,html,json,yml}'
      run: ./node_modules/.bin/prettier --write "{staged_files}"
      stage_fixed: true

chore(frontend): update deps
  package.json
  pnpm-lock.yaml
Due: prettier

feat(frontend): update links
  .env.example
  .github/workflows/build.yml
  src/app/api/version/version.test.ts
  src/components/Footer/Footer.test.tsx
  src/components/Footer/__snapshots__/Footer.test.tsx.snap
  src/components/Footer/index.tsx
Due: eslint, prettier

chore(docs): update readme
  README.md
Due: prettier

chore(frontend): improve mdx typings
  src/components/MDXComponents/index.tsx
Due: eslint, prettier

feat(frontend): add status link to Footer
  src/components/Footer/index.tsx
  src/components/PageTransition/PageTransition.tsx
Due: eslint, prettier

fix(frontend): fix build
  src/components/Footer/Footer.test.tsx
  src/components/Footer/__snapshots__/Footer.test.tsx.snap
Due: eslint, prettier

chore(frontend): add basic auth back to stg
  playwright-dev.config.ts
  src/middleware.ts
Due: eslint, prettier

feat(frontend): add redirect to branches micro-site
  next.config.js
Due: eslint, prettier

feat(frontend): add redirect to status page
  next.config.js
Due: eslint, prettier

feat(tooling): add method signature lint rule
  .eslintrc.json
Due: prettier

fix(tooling): stricter eslint cfg
  .eslintrc.json
  src/test/createLocalStorageMock.ts
Due: eslint, prettier

feat(frontend): add og image
  src/app/opengraph.png
Due: none

chore(frontend): update minor deps
  package.json
  pnpm-lock.yaml
Due: prettier

chore(frontend): update next-mdx-remote
  next-env.d.ts
  package.json
  pnpm-lock.yaml
Due: eslint, prettier

chore(frontend): update tinykeys
  package.json
  pnpm-lock.yaml
Due: prettier

chore(frontend): update vanilla-extract deps
  package.json
  pnpm-lock.yaml
Due: prettier

fix(frontend): fix build
  newrelic.js
  next.config.js
  playwright-dev.config.ts
  scripts/alphabetizePackageJson.js
  scripts/renameComponent.js
  src/components/CommandMenu/index.tsx
  src/types/style.ts
  src/types/util.ts
  src/utils/featureFlags.ts
  test/fileTransform.js
  test/setupTests.js
Due: eslint, prettier

chore(frontend): fix build
  package.json
  pnpm-lock.yaml
Due: prettier

fix(frontend): add talks to sitemap
  src/app/sitemap.ts
Due: eslint, prettier

fix(frontend): design cleanup
  e2e/commandmenu.spec.ts
  e2e/index.spec.ts
  src/app/about/page.tsx
  src/app/blog/[slug]/page.tsx
  src/app/blog/page.tsx
  src/app/page.tsx
  src/app/projects/[slug]/page.tsx
  src/app/projects/page.tsx
  src/components/Footer/__snapshots__/Footer.test.tsx.snap
  src/components/Heading/Heading.css.ts
  src/components/Intro/Intro.css.ts
  src/components/Intro/Intro.tsx
  src/components/Meta/Meta.css.ts
  src/components/Meta/index.tsx
  src/components/Page.tsx
  src/components/PageHeader/index.tsx
  src/components/PostItem/PostItem.css.ts
  src/components/ProjectItem/ProjectItem.css.ts
  src/components/SocialShare/index.tsx
  src/styles/variables.css.ts
Due: eslint, prettier

fix(ci): replace deprecated set output with recommended command
  .github/actions/deploy/action.yml
Due: prettier

fix(ci): fix deprecated set output
  .github/actions/deploy/action.yml
Due: prettier

chore(frontend): update dependencies
  package.json
  pnpm-lock.yaml
Due: prettier

chore(frontend): update date-fns
  package.json
  pnpm-lock.yaml
Due: prettier

chore(frontend): update about current work
  src/app/about/page.tsx
Due: eslint, prettier

chore(frontend): add status to command menu
  e2e/commandmenu.spec.ts
  src/components/CommandMenu/CommandMenu.test.tsx
  src/components/CommandMenu/index.tsx
Due: eslint, prettier

fix(frontend): fix consumer header for lambda
  src/services/spotifyService.ts
Due: eslint, prettier

fix(infrastructure): ensure rebased with main script
  .github/actions/build/action.yml
  .github/workflows/deploy.yml
  scripts/ensure-rebased.sh
Due: prettier

chore(frontend): update to next.js 15
  package.json
  pnpm-lock.yaml
  src/app/api/disable-draft/route.ts
  src/app/api/draft/route.ts
  src/app/blog/[slug]/page.tsx
  src/app/blog/tags/[slug]/page.tsx
  src/app/projects/[slug]/page.tsx
  src/components/Button/index.tsx
  src/components/CommandMenu/CommandMenu.test.tsx
  src/components/SocialShare/SocialShare.test.tsx
  src/components/VisuallyHidden/index.tsx
  src/hooks/useDebouncedCallback.ts
  src/hooks/useMountedRef.ts
  src/types/style.ts
Due: eslint, prettier

chore(tests): add fail notification on live ui tests
  .github/workflows/live-ui-tests.yml
Due: prettier
