Repository luke-h1/lhowsam.com: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier

lefthook.yml:

EXAMPLE USAGE:
pre-commit:
  parallel: true
  commands:
    eslint:
      glob: "*.{js,ts,jsx,tsx}"
      run: eslint {staged_files} --fix --quiet
      stage_fixed: true
    
    prettier:
      glob: '*.{js,jsx,ts,tsx,css,scss,md,html,json,yml}'
      run: ./node_modules/.bin/prettier --write "{staged_files}"
      stage_fixed: true

fix(frontend): make entire logoContainer clickable
  src/components/Header/index.tsx
Due: eslint, prettier

fix(frontend): include published tags in sitemap
  src/app/sitemap.ts
Due: eslint, prettier

fix(frontend): include tags in rrs and sitemap
  src/app/feed.xml/route.ts
Due: eslint, prettier

fix(frontend): improve ttfb
  next.config.mjs
  package.json
  pnpm-lock.yaml
  src/components/Intro/index.tsx
Due: eslint, prettier

fix(frontend): remove premature cf import
  next.config.mjs
Due: none

fix(frontend): optimize scripts
  src/app/layout.tsx
  src/app/page.tsx
Due: eslint, prettier

fix(frontend): fix rsc query param warnings
  next.config.mjs
  package.json
  pnpm-lock.yaml
  src/components/Intro/index.tsx
Due: eslint, prettier

fix(frontend): fix rsc query param 404s
  src/app/about/page.tsx
Due: eslint, prettier

fix(frontend): fix prefetch 404 console log
  src/app/about/page.tsx
  src/components/Intro/index.tsx
Due: eslint, prettier

fix(frontend): fix unauthorized sanity draft requests
  src/components/sanity/Preview.tsx
  src/components/sanity/util/resolveProductionUrl.ts
Due: eslint, prettier

fix(frontend): fix env var not being picked up by sanity
  src/components/sanity/util/resolveProductionUrl.ts
  src/types/env.d.ts
Due: eslint, prettier

chore(frontend): update deps
  package.json
  pnpm-lock.yaml
Due: prettier

fix(frontend): update deps
  package.json
  pnpm-lock.yaml
  src/components/Intro/index.tsx
  src/utils/featureFlags.ts
Due: eslint, prettier

feat(frontend): cf deploy
  .eslintrc.json
  .github/actions/deploy/action.yml
  .github/workflows/deploy.yml
  next.config.mjs
  package.json
  pnpm-lock.yaml
  src/app/api/basicauth/route.ts
  src/app/api/disable-draft/route.ts
  src/app/api/draft/route.ts
  src/app/api/healthcheck/route.ts
  src/app/api/metrics/route.ts
  src/app/api/now-playing/route.ts
  src/app/api/version/route.ts
  wrangler.toml
Due: eslint, prettier

feat(frontend): cf deploy
  .github/actions/build/action.yml
  .github/actions/install/action.yml
  .github/workflows/build.yml
  .github/workflows/deploy.yml
  src/app/api/metrics/route.ts
Due: eslint, prettier

feat(frontend): cf deploy
  .github/workflows/deploy.yml
  package.json
  pnpm-lock.yaml
  wrangler.toml
Due: prettier

fix(frontend): cf
  .github/workflows/deploy.yml
Due: prettier

feat(frontend): cf
  .github/workflows/deploy.yml
Due: prettier

feat(frontend): cf
  .github/workflows/deploy.yml
  wranger-staging.toml
Due: prettier

feat(frontend): cf
  .github/workflows/deploy.yml
  wranger.toml
Due: prettier

feat(frontend): cf
  .github/workflows/deploy.yml
  package.json
  wranger.toml
Due: prettier

feat(frontend): cf deploy
  package.json
Due: prettier

feat(frontend): wip
  .github/workflows/deploy.yml
Due: prettier

feat(frontend): test
  .github/workflows/deploy.yml
  package.json
Due: prettier

feat(frontend): v
  .github/workflows/deploy.yml
Due: prettier

feat(frontend): new relic refactor
  newrelic.js
  next.config.mjs
  package.json
  src/app/layout.tsx
Due: eslint, prettier

fix(frontend): fix nr issues
  next.config.js
  package.json
  pnpm-lock.yaml
  src/app/layout.tsx
Due: eslint, prettier

chore(frontend): fix nr
  package.json
  pnpm-lock.yaml
Due: prettier

feat(frontend): attempt nr log statement
  newrelic.js
  next.config.js
  package.json
  pnpm-lock.yaml
  src/app/page.tsx
  src/utils/logger.ts
Due: eslint, prettier

feat(frontend): fix nr
  src/hooks/useLoggedReducer.ts
Due: eslint, prettier

fix(frontend): nr log fix
  src/app/page.tsx
Due: eslint, prettier

fix(frontend): nr logs
  package.json
  pnpm-lock.yaml
Due: prettier

feat(frontend): otel new-relic exporter
  instrumentation.ts
  new
  new-relic-instrumentation.js
  package.json
  pnpm-lock.yaml
Due: eslint, prettier
