Repository luke-h1/lhowsam.com: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier

eslint:
  run: eslint {staged_files} --fix --quiet
  stage_fixed: true

prettier:
  run: ./node_modules/.bin/prettier --write "{staged_files}"
  stage_fixed: true

chore(frontend): update deps
  package.json
  pnpm-lock.yaml
Due: prettier

chore(frontend): reduce refreshInterval
  .github/workflows/build.yml
  src/app/layout.tsx
  src/components/NowPlaying/NowPlaying.tsx
Due: eslint, prettier

chore(frontend): update pnpm
  .github/workflows/build.yml
  .github/workflows/deploy.yml
  .github/workflows/dev-ui-tests.yml
  .github/workflows/live-ui-tests.yml
  .github/workflows/nextjs_bundle_analysis.yml
  .github/workflows/staging-ui-tests.yml
  package.json
Due: prettier

fix(ci): fix dev deploy
  package.json
Due: prettier

chore(frontend): remove check-node
  package.json
Due: prettier

chore(frontend): update deps
  Dockerfile.production
  package.json
  pnpm-lock.yaml
Due: prettier

chore(frontend): try open next
  .github/workflows/stg-ui-tests.yml
  .gitignore
  Makefile
  package.json
  pnpm-lock.yaml
  sst-env.d.ts
  sst.config.ts
  tsconfig.json
Due: eslint, prettier

chore(frontend): try open-next
  .github/workflows/stg-ui-tests.yml
Due: prettier

fix(infrastructure): keep warmer function alive
  sst.config.ts
Due: eslint, prettier

chore(frontend): update dependencies
  package.json
  pnpm-lock.yaml
Due: prettier

chore(infrastructure): remove stg ui tests
  .github/workflows/stg-ui-tests.yml
  Makefile
Due: prettier

chore(frontend): update cv
  public/static/cv.pdf
Due: none

feat(frontend): add deployedBy in version check
  src/app/api/version/route.ts
Due: eslint, prettier

chore(frontend): include talks in footer
  e2e/footer.spec.ts
  src/components/Footer/Footer.tsx
Due: eslint, prettier

chore(frontend): disable talk route in e2e
  e2e/footer.spec.ts
Due: eslint, prettier

chore(frontend): add vercel envs to version endpoint
  src/app/api/version/route.ts
Due: eslint, prettier

chore(frontend): remove unused vars
  src/app/api/version/route.ts
Due: eslint, prettier

chore(frontend): remove sst
  .gitignore
  package.json
  sst-env.d.ts
  sst.config.ts
Due: eslint, prettier

chore(frontend): fix build
  pnpm-lock.yaml
Due: none

feat(frontend): replace swr with react query
  package.json
  pnpm-lock.yaml
  src/components/NowPlaying/NowPlaying.tsx
  src/components/Providers.tsx
  src/hocs/composeProviders.tsx
  src/queries/spotifyQueries.ts
  src/services/spotifyService.ts
  src/types/env.d.ts
  src/utils/fetcher.ts
Due: eslint, prettier

chore(frontend): add refetch behaviour for react-query
  src/components/NowPlaying/NowPlaying.tsx
Due: eslint, prettier

feat(frontend): add /cv redirect
  next.config.js
Due: eslint, prettier

fix(frontend): downgrade eslint
  package.json
Due: prettier

fix(frontend): downgrade eslint
  pnpm-lock.yaml
Due: none

fix(frontend): add new URL to metabase
  src/app/layout.tsx
Due: eslint, prettier

chore(frontend): use next now playing
  src/app/api/now-playing/route.ts
  src/components/NowPlaying/NowPlaying.tsx
  src/pages/api/metrics.ts
Due: eslint, prettier

feat(frontend): add deployed_at timestamp
  .github/workflows/deploy.yml
  src/app/api/healthcheck/route.ts
Due: eslint, prettier

Path conditions:
  eslint: any of: *.{js,ts,jsx,tsx}
  prettier: any of: *.{js,jsx,ts,tsx,css,scss,md,html,json,yml}
