Repository luke-h1/lhowsam.com: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier

eslint:
  run: eslint {staged_files} --fix --quiet
  stage_fixed: true

prettier:
  run: ./node_modules/.bin/prettier --write "{staged_files}"
  stage_fixed: true

feat(frontend): update dependencies
  package.json
  pnpm-lock.yaml
Due: prettier

feat(frontend): update dependencies
  next.config.js
  package.json
  pnpm-lock.yaml
Due: eslint, prettier

chore: fix ui tests
  Makefile
  e2e/blog.spec.ts
  e2e/project.spec.ts
  next-env.d.ts
Due: eslint, prettier

refactor(frontend): move e2e commands to makefile
  .github/workflows/analyze-comment.yml
  .github/workflows/analyze.yml
  .github/workflows/build.yml
  .github/workflows/deploy.yml
  .github/workflows/dev-ui-tests.yml
  .github/workflows/prod-ui-tests.yml
  Makefile
  package.json
Due: prettier

refactor(frontend): move e2e commands to makefile
  e2e/blog.spec.ts
  e2e/project.spec.ts
  playwright-common.config.ts
Due: eslint, prettier

refactor(frontend): dockerize frontend
  Dockerfile
  docker-compose.yml
Due: prettier

chore: add docker ignore
  .dockerignore
Due: none

fix(tests): fix ui tests
  e2e/commandmenu.spec.ts
  playwright-common.config.ts
  playwright-dev.config.ts
Due: eslint, prettier

Update Dockerfile
  Dockerfile
Due: none

feat(infra): cancel parallel workflows per PR
  .github/workflows/build.yml
  .github/workflows/deploy.yml
  .github/workflows/dev-ui-tests.yml
  .github/workflows/prod-ui-tests.yml
  src/pages/api/now-playing.ts
Due: eslint, prettier

fix linting issues
  src/pages/api/now-playing.ts
Due: eslint, prettier

feat(infra): tidy ci jobs
  .github/workflows/build.yml
  .github/workflows/deploy.yml
  .github/workflows/dev-ui-tests.yml
  .github/workflows/prod-ui-tests.yml
  .nvmrc
Due: prettier

chore(infra): tidy ci jobs
  .github/workflows/deploy.yml
  .github/workflows/live-ui-tests.yml
Due: prettier

chore: update README.md
  README.md
Due: prettier

feat(infra): cache dependencies
  .github/workflows/deploy.yml
  .github/workflows/dev-ui-tests.yml
  .github/workflows/live-ui-tests.yml
Due: prettier

feat(infra): cache dependencies
  .github/workflows/build.yml
Due: prettier

feat(infra): cache dependencies
  .github/workflows/live-ui-tests.yml
  renovate.json
Due: prettier

chore: update node docker version
  Dockerfile
Due: none

chore(frontend): update dependencies
  package.json
  pnpm-lock.yaml
Due: prettier

chore(frontend): mark hook as deprecated
  src/hooks/useNProgress.ts
Due: eslint, prettier

chore(frontend): document hook
  src/hooks/useMounted.ts
Due: eslint, prettier

chore(frontend): remove un-needed eeslint rule
  src/components/ContentRenderer.tsx
Due: eslint, prettier

chore(frontend): fix husky
  package.json
  pnpm-lock.yaml
Due: prettier

feat(frontend): replace react-query with swr
  package.json
  pnpm-lock.yaml
  src/components/NowPlaying/NowPlaying.tsx
  src/components/Providers.tsx
  src/services/spotifyService.ts
  src/utils/fetcher.ts
Due: eslint, prettier

feat(frontend): replace react-query with swr
  src/app/api/now-playing/route.ts
  src/components/NowPlaying/NowPlaying.tsx
Due: eslint, prettier

feat(frontend): update about copy
  src/app/about/page.tsx
  src/styles/util.css.ts
Due: eslint, prettier

feat(frontend): replace zustand with redux
  package.json
  pnpm-lock.yaml
  src/components/CommandMenu/CommandMenu.tsx
  src/components/Providers.tsx
  src/components/Toast/Toast.tsx
  src/store/hooks/index.ts
  src/store/index.ts
  src/store/middleware/logMiddleware.ts
  src/store/reducers/toastReducer.ts
Due: eslint, prettier

feat(frontend): replace zustand with redux
  package.json
  pnpm-lock.yaml
  src/store/middleware/logMiddleware.ts
Due: eslint, prettier

feat(frontend): replace zustand with redux
  src/components/SocialShare/SocialShare.tsx
Due: eslint, prettier

chore(frontend): update radix ui
  package.json
  pnpm-lock.yaml
Due: prettier

feat(frontend): upgrade frontend dependencies
  package.json
  pnpm-lock.yaml
Due: prettier

Update .nvmrc
  .nvmrc
Due: none

chore(frontend): update dependencies
  src/components/SocialShare/SocialShare.tsx
Due: eslint, prettier

Path conditions:
  eslint: any of: *.{js,ts,jsx,tsx}
  prettier: any of: *.{js,jsx,ts,tsx,css,scss,md,html,json,yml}
