Repository luke-h1/lhowsam.com: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier

eslint:
  run: eslint {staged_files} --fix --quiet
  stage_fixed: true

prettier:
  run: ./node_modules/.bin/prettier --write "{staged_files}"
  stage_fixed: true

feat(frontend): prefetch link
  package.json
  src/components/Banner/Banner.tsx
  src/components/Link/Link.tsx
Due: eslint, prettier

feat(frontend): improve MDXcomponents layout
  src/components/MDXComponents.tsx
  src/components/PageHeader/PageHeader.tsx
Due: eslint, prettier

feat(frontend): enable draft sanity documents
  .env.example
  src/app/api/disable-draft/route.ts
  src/app/api/draft/route.ts
  src/app/api/version/route.ts
  src/app/blog/[slug]/page.tsx
  src/app/projects/[slug]/page.tsx
  src/services/imageService.ts
  src/services/postService.ts
  src/services/projectService.ts
  src/services/tagService.ts
  src/types/env.d.ts
  src/utils/sanity.client.ts
Due: eslint, prettier

fix(frontend): fix queryparam
  src/app/api/draft/route.ts
Due: eslint, prettier

fix(frontend): fix frame not displaying in sanity studio
  next.config.js
Due: eslint, prettier

feat(frontend): try other csp rule for frames
  next.config.js
Due: eslint, prettier

fix(frontend): send draft header
  src/app/api/draft/route.ts
  src/app/blog/[slug]/page.tsx
  src/services/postService.ts
Due: eslint, prettier

fix(frontend): project service fix
  src/services/projectService.ts
Due: eslint, prettier

fix(frontend): project service post service defaults
  src/services/postService.ts
  src/services/projectService.ts
Due: eslint, prettier

feat(frontend): remove un-needed cors option
  next.config.js
Due: eslint, prettier

feat(frontend): update dependencies
  package.json
  pnpm-lock.yaml
Due: prettier

chore(frontend): update dependencies
  package.json
  pnpm-lock.yaml
Due: prettier

chore(frontend): update deps
  package.json
  pnpm-lock.yaml
Due: prettier

feat(frontend): test new endpoint
  src/components/NowPlaying/NowPlaying.tsx
  terraform/module/acm.tf
Due: eslint, prettier

feat(frontend): use new endpoint if dev
  src/utils/fetcher.ts
Due: eslint, prettier

feat(frontend): add x-consumer header to now playing req
  src/utils/fetcher.ts
Due: eslint, prettier

chore(ci): scheduled tests for dev
  .github/workflows/dev-ui-tests.yml
Due: prettier

fix(frontend): fix now playing
  src/utils/fetcher.ts
Due: eslint, prettier

fix(frontend): fix now playing
  src/components/NowPlaying/NowPlaying.tsx
  src/utils/fetcher.ts
Due: eslint, prettier

feat(frontend): use new now playing endpoint
  src/components/NowPlaying/NowPlaying.tsx
Due: eslint, prettier

feat(frontend): introduce new now playing endpoint
  src/components/NowPlaying/NowPlaying.tsx
  src/utils/fetcher.ts
Due: eslint, prettier

fix(frontend): fix dev deploys
  .github/workflows/deploy.yml
Due: prettier

fix(frontend): fix fe deploys
  .github/workflows/deploy.yml
Due: prettier

chore(infrastructure): add missing turbo cache step
  .github/workflows/build.yml
Due: prettier

feat(infrastructure): setup ci for lambda
  .github/workflows/deploy-lambda.yml
  .gitignore
  terraform/lambda/envs/example.tfvars
Due: prettier

feat(infrastructure): build
  .github/workflows/deploy-lambda.yml
Due: prettier

feat(infrastructure): lambda
  .github/workflows/deploy-lambda.yml
  terraform/lambda/remote.tf
Due: prettier

feat(infrastructure): deploy
  .github/workflows/deploy-lambda.yml
Due: prettier

feat(infrastructure): pnpm
  .github/workflows/deploy-lambda.yml
Due: prettier

feat(infrastructure): vars
  terraform/lambda/domain.tf
  terraform/lambda/variables.tf
Due: none

feat(infrastructure): pnpm
  .github/workflows/deploy-lambda.yml
  terraform/lambda/lambda.tf
Due: prettier

feat(infrastructure): pnpm
  .github/workflows/deploy-lambda.yml
  scripts/deploy-lambda.sh
  terraform/lambda/lambda.tf
Due: prettier

feat(infrastructure): build
  .github/workflows/deploy-lambda.yml
  scripts/build-lambda.sh
  terraform/lambda/lambda.tf
Due: prettier

Path conditions:
  eslint: any of: *.{js,ts,jsx,tsx}
  prettier: any of: *.{js,jsx,ts,tsx,css,scss,md,html,json,yml}
