Repository luke-h1/lhowsam.com: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier

lefthook.yml:

EXAMPLE USAGE:
pre-commit:
  parallel: true
  commands:
    eslint:
      glob: "*.{js,ts,jsx,tsx}"
      run: eslint {staged_files} --fix --quiet
      stage_fixed: true
    
    prettier:
      glob: '*.{js,jsx,ts,tsx,css,scss,md,html,json,yml}'
      run: ./node_modules/.bin/prettier --write "{staged_files}"
      stage_fixed: true

chore(frontend): update readme
  README.md
Due: prettier

fix(infrastructure): remove rebased script
  .github/actions/build/action.yml
  .github/workflows/deploy.yml
Due: prettier

fix(infrastructure): remove clint
  .github/actions/install/action.yml
Due: prettier

fix(frontend): prettier
  src/components/ui/CommandMenu.tsx
  src/components/ui/__tests__/CommandMenu.test.tsx
  src/services/spotifyService.ts
  src/styles/global.css
Due: eslint, prettier

fix(frontend): tsc
  src/pages/rss.xml.ts
  tsconfig.json
Due: eslint, prettier

fix(infrastructure): pin to node 24
  .github/actions/install/action.yml
  .github/workflows/vitest-coverage.yml
  .nvmrc
Due: prettier

fix(infrastructure): e2e patches
  .github/actions/deploy/action.yml
  .github/actions/ui-test/action.yml
  .github/workflows/dev-ui-tests.yml
  .github/workflows/live-ui-tests.yml
  .husky/pre-commit
  astro.config.mjs
  bun.lock
  e2e/about.spec.ts
  e2e/blog.spec.ts
  e2e/commandmenu.spec.ts
  e2e/config/baseUrl.ts
  e2e/domain.spec.ts
  package.json
  playwright.config.ts
  sentry.client.config.ts
  src/components/layout/BaseLayout.astro
  src/components/ui/CommandMenu.tsx
  src/components/ui/__tests__/CommandMenu.test.tsx
  src/pages/api/healthcheck.ts
  src/pages/api/tunnel.ts
  src/pages/api/version.ts
  src/pages/index.astro
  src/util/__tests__/navigateToInternalUrl.test.ts
  src/util/navigateToInternalUrl.ts
  vercel.json
Due: eslint, prettier

fix(frontend): pre-render false
  src/pages/api/healthcheck.ts
  src/pages/api/version.ts
Due: eslint, prettier

chore(frontend): update about copy
  src/pages/about.astro
Due: none

chore(frontend): update about copy
  src/components/ui/Header.astro
  src/data/experience.ts
  src/pages/about.astro
Due: eslint, prettier

fix(frontend): remove tunnel sentry
  sentry.client.config.ts
  src/pages/api/tunnel.ts
Due: eslint, prettier

chore(frontend): update foam.mdx
  src/content/projects/foam.mdx
Due: none

chore(frontend): e2e command patch
  .github/workflows/deploy-live.yml
  package.json
Due: prettier

chore(infrastructure): seperate out e2e
  .github/actions/deploy/action.yml
  .github/workflows/deploy-live.yml
  .github/workflows/deploy.yml
Due: prettier

fix(infrastructure): include now playing in secrets
  .github/workflows/deploy-live.yml
Due: prettier

fix(frontend): og image
  public/og-signature.png
  src/components/layout/BaseLayout.astro
  src/config/site.ts
  src/pages/about.astro
  src/pages/index.astro
  src/pages/talks/[slug].astro
  src/util/__tests__/socialImage.test.ts
  src/util/socialImage.ts
Due: eslint, prettier

chore(frontend): add astro prettier plugin
  .prettierrc
  bun.lock
  package.json
  src/components/layout/BaseLayout.astro
  src/components/ui/ArticleCard.astro
  src/components/ui/ProjectCard.astro
  src/pages/404.astro
  src/pages/blog/index.astro
  src/pages/blog/tags/[tag].astro
  src/pages/projects/[slug].astro
  src/pages/projects/index.astro
  src/pages/talks/index.astro
  src/pages/work-projects/index.astro
Due: prettier

chore(frontend): add astro prettier plugin
  src/content/blog/code-linters-and-formatters.mdx
  src/content/blog/conventional-commits-a-better-way-to-commit.mdx
  src/content/blog/ddos-attacks-and-how-to-prevent-them-with-cloudflare-aws-api-gateway.mdx
  src/content/blog/extending-multiple-classes-in-typegraphql.mdx
  src/content/blog/first-blog-post.mdx
  src/content/blog/forcing-git-merges.mdx
  src/content/blog/full-stack-deploy-with-dokku.mdx
  src/content/blog/getting-started-with-aws-vault.mdx
  src/content/blog/getting-started-with-playwright-ui-testing.mdx
  src/content/blog/how-to-build-a-custom-prisma-generator.mdx
  src/content/blog/how-to-connect-a-custom-domain-to-aws-api-gateway.mdx
  src/content/blog/how-to-rename-local-and-remote-git-branches.mdx
  src/content/blog/how-to-use-the-spotify-api-with-next-js.mdx
  src/content/blog/launching-multiple-iterm2-windows-with-one-script.mdx
  src/content/blog/next-js-ssr-notes.mdx
  src/content/blog/preventing-fouc-with-chakra-ui.mdx
  src/content/blog/set-default-node-version-with-nvm.mdx
  src/content/blog/typescript-why-to-use-unknown-instead-of-any.mdx
  src/content/blog/what-next-js-13-means-for-end-users.mdx
  src/content/blog/why-you-should-go-to-conferences.mdx
  src/content/experience/flutter-uki.mdx
  src/content/experience/hive-it.mdx
  src/content/experience/the-floow.mdx
  src/content/projects/storify.mdx
  src/content/projects/uber-cost-calculator.mdx
  src/content/work-projects/explore-education-statistics.mdx
  src/content/work-projects/gls-game-launch-service.mdx
  src/content/work-projects/timeout-toolkit.mdx
Due: none

chore(frontend): update k3s post
  src/content/blog/setting-up-k3s-and-immich-on-a-vps.mdx
Due: none

chore(frontend): update cv
  public/static/cv.pdf
Due: none

chore(frontend): update deps
  bun.lock
  package.json
Due: prettier

chore: add package release age policy
  bunfig.toml
Due: none

feat(frontend): add blog posts
  .gitignore
  public/static/cv.pdf
  src/assets/blog/how-react-native-new-architecture-works-hero.jpeg
  src/assets/blog/how-to-performance-test-a-react-native-app-hero.png
  src/content/blog/how-react-native-new-architecture-works.mdx
  src/content/blog/how-to-profile-a-react-native-app.mdx
Due: none

feat(frontend): add blog posts
  src/content/blog/how-to-profile-a-react-native-app.mdx
Due: none

chore(frontend): deploy new cv
  public/static/cv.pdf
  src/components/layout/BaseLayout.astro
  src/util/__tests__/seo.test.ts
  src/util/seo.ts
Due: eslint, prettier

chore(frontend): deploy new cv
  .github/actions/build/action.yml
Due: prettier

chore: upgrade bun to 1.3.14
  package.json
Due: prettier

chore: upgrade bun to 1.3.14 in CI
  .github/actions/install/action.yml
  .github/workflows/vitest-coverage.yml
Due: prettier

fix(infrastructure): e2e
  .github/workflows/deploy-live.yml
  .github/workflows/deploy.yml
Due: prettier

fix(infrastructure): e2e
  bun.lock
  package.json
Due: prettier

fix(infrastructure): e2e bypass
  playwright.config.ts
Due: eslint, prettier

feat(frontend): add expo image post
  src/assets/blog/RAF.jpeg
  src/assets/blog/bounded-cache-expo.jpeg
  src/assets/blog/building-a-custom-performance-monitor-for-react-native-chat-inline-1.png
  src/assets/blog/building-a-custom-performance-monitor-for-react-native-chat-inline-10.png
  src/assets/blog/building-a-custom-performance-monitor-for-react-native-chat-inline-11.png
  src/assets/blog/building-a-custom-performance-monitor-for-react-native-chat-inline-12.png
  src/assets/blog/building-a-custom-performance-monitor-for-react-native-chat-inline-13.png
  src/assets/blog/building-a-custom-performance-monitor-for-react-native-chat-inline-2.png
  src/assets/blog/building-a-custom-performance-monitor-for-react-native-chat-inline-3.png
  src/assets/blog/building-a-custom-performance-monitor-for-react-native-chat-inline-4.png
  src/assets/blog/building-a-custom-performance-monitor-for-react-native-chat-inline-5.png
  src/assets/blog/building-a-custom-performance-monitor-for-react-native-chat-inline-6.png
  src/assets/blog/building-a-custom-performance-monitor-for-react-native-chat-inline-7.png
  src/assets/blog/building-a-custom-performance-monitor-for-react-native-chat-inline-8.png
  src/assets/blog/building-a-custom-performance-monitor-for-react-native-chat-inline-9.png
  src/assets/blog/cached-emotes.jpeg
  src/assets/blog/catJAM.webp
  src/assets/blog/chat-perf-monitor.jpeg
  src/assets/blog/optimising-expo-image-for-foam-inline-1.png
  src/assets/blog/optimising-expo-image-for-foam-inline-2.png
  src/assets/blog/optimising-expo-image-for-foam-inline-20.png
  src/assets/blog/optimising-expo-image-for-foam-inline-21.png
  src/assets/blog/optimising-expo-image-for-foam-inline-22.png
  src/assets/blog/optimising-expo-image-for-foam-inline-23.png
  src/assets/blog/optimising-expo-image-for-foam-inline-24.png
  src/assets/blog/optimising-expo-image-for-foam-inline-25.png
  src/assets/blog/optimising-expo-image-for-foam-inline-3.png
  src/assets/blog/optimising-expo-image-for-foam-inline-7.png
  src/assets/blog/optimising-expo-image-for-foam-inline-8.png
  src/assets/blog/ui-thread-frame-tracker.jpeg
  src/assets/projects/foam-chat.png
  src/assets/projects/foam-search.png
  src/content/blog/optimising-expo-image-for-foam.mdx
  src/content/projects/foam.mdx
Due: none

feat(frontend): add expo image post (#4714)
  src/assets/blog/RAF.jpeg
  src/assets/blog/bounded-cache-expo.jpeg
  src/assets/blog/building-a-custom-performance-monitor-for-react-native-chat-inline-1.png
  src/assets/blog/building-a-custom-performance-monitor-for-react-native-chat-inline-10.png
  src/assets/blog/building-a-custom-performance-monitor-for-react-native-chat-inline-11.png
  src/assets/blog/building-a-custom-performance-monitor-for-react-native-chat-inline-12.png
  src/assets/blog/building-a-custom-performance-monitor-for-react-native-chat-inline-13.png
  src/assets/blog/building-a-custom-performance-monitor-for-react-native-chat-inline-2.png
  src/assets/blog/building-a-custom-performance-monitor-for-react-native-chat-inline-3.png
  src/assets/blog/building-a-custom-performance-monitor-for-react-native-chat-inline-4.png
  src/assets/blog/building-a-custom-performance-monitor-for-react-native-chat-inline-5.png
  src/assets/blog/building-a-custom-performance-monitor-for-react-native-chat-inline-6.png
  src/assets/blog/building-a-custom-performance-monitor-for-react-native-chat-inline-7.png
  src/assets/blog/building-a-custom-performance-monitor-for-react-native-chat-inline-8.png
  src/assets/blog/building-a-custom-performance-monitor-for-react-native-chat-inline-9.png
  src/assets/blog/cached-emotes.jpeg
  src/assets/blog/catJAM.webp
  src/assets/blog/chat-perf-monitor.jpeg
  src/assets/blog/optimising-expo-image-for-foam-inline-1.png
  src/assets/blog/optimising-expo-image-for-foam-inline-2.png
  src/assets/blog/optimising-expo-image-for-foam-inline-20.png
  src/assets/blog/optimising-expo-image-for-foam-inline-21.png
  src/assets/blog/optimising-expo-image-for-foam-inline-22.png
  src/assets/blog/optimising-expo-image-for-foam-inline-23.png
  src/assets/blog/optimising-expo-image-for-foam-inline-24.png
  src/assets/blog/optimising-expo-image-for-foam-inline-25.png
  src/assets/blog/optimising-expo-image-for-foam-inline-3.png
  src/assets/blog/optimising-expo-image-for-foam-inline-7.png
  src/assets/blog/optimising-expo-image-for-foam-inline-8.png
  src/assets/blog/ui-thread-frame-tracker.jpeg
  src/assets/projects/foam-chat.png
  src/assets/projects/foam-search.png
  src/content/blog/optimising-expo-image-for-foam.mdx
  src/content/projects/foam.mdx
Due: none

fix(frontend): set draft to false
  src/content/blog/optimising-expo-image-for-foam.mdx
Due: none

fix(frontend): update perf blog post
  src/content/blog/optimising-expo-image-for-foam.mdx
Due: none

fix(frontend): blog typos
  src/content/blog/optimising-expo-image-for-foam.mdx
Due: none

chore(frontend): add twitter
  e2e/commandmenu.spec.ts
  src/components/ui/__tests__/CommandMenu.test.tsx
  src/config/site.ts
Due: eslint, prettier

chore(frontend): update to v7 astro
  astro.config.mjs
  bun.lock
  package.json
Due: prettier

chore(frontend): improve seo
  src/components/ui/CommandMenu.css
  src/components/ui/CommandMenu.tsx
  src/pages/index.astro
Due: eslint, prettier
