Repository luke-h1/lhowsam.com: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier

eslint:
  run: eslint {staged_files} --fix --quiet
  stage_fixed: true

prettier:
  run: ./node_modules/.bin/prettier --write "{staged_files}"
  stage_fixed: true

feat(frontend): enable sanity live revalidation (#4688)
  package.json
  scripts/test-revalidation.ts
  src/app/api/revalidate/route.ts
  src/app/blog/[slug]/page.tsx
  src/app/blog/page.tsx
  src/app/blog/tags/[slug]/page.tsx
  src/app/page.tsx
  src/app/projects/[slug]/page.tsx
  src/app/projects/page.tsx
  src/app/talks/page.tsx
  src/app/work/[slug]/page.tsx
  src/app/work/page.tsx
Due: eslint, prettier

feat(frontend): add sentry
  .gitignore
  next.config.js
  package.json
  pnpm-lock.yaml
  sentry.edge.config.ts
  sentry.server.config.ts
  src/app/blog/[slug]/page.tsx
  src/app/blog/page.tsx
  src/app/blog/tags/[slug]/page.tsx
  src/app/global-error.tsx
  src/app/page.tsx
  src/app/projects/[slug]/page.tsx
  src/app/projects/page.tsx
  src/app/talks/page.tsx
  src/app/work/[slug]/page.tsx
  src/app/work/page.tsx
  src/instrumentation-client.ts
  src/instrumentation.ts
Due: eslint, prettier

feat(frontend): add sentry
  .gitignore
  next.config.js
  package.json
  pnpm-lock.yaml
  sanity.config.ts
  sentry.edge.config.ts
  sentry.server.config.ts
  src/app/global-error.tsx
  src/instrumentation-client.ts
  src/instrumentation.ts
  src/utils/sanity.live.ts
Due: eslint, prettier

test(frontend): add work tests
  e2e/work.spec.ts
Due: eslint, prettier

fix(frontend): add high fetch priority to images
  src/app/about/page.tsx
  src/components/Intro/index.tsx
Due: eslint, prettier

chore(frontend): enable ppr
  next.config.js
Due: eslint, prettier

chore(frontend): disable ppr
  next.config.js
Due: eslint, prettier

merge dev into main (#4690)
  next.config.js
  src/app/about/page.tsx
  src/components/Intro/index.tsx
Due: eslint, prettier

chore: tweak sentry options
  sentry.edge.config.ts
  sentry.server.config.ts
Due: eslint, prettier

merge dev into main (#4691)
  sentry.edge.config.ts
  sentry.server.config.ts
Due: eslint, prettier

fix(infrastructure): fix deploy
  .github/workflows/deploy.yml
Due: prettier

fix(infrastructure): fix deploy
  .github/workflows/deploy-live.yml
Due: prettier

feat(frontend): improve talk layout
  bun.lock
  sentry.edge.config.ts
  src/app/talks/[slug]/page.tsx
  src/app/talks/page.tsx
  src/components/ContentRenderer.tsx
  src/components/TalkItem/TalkItem.css.ts
  src/components/TalkItem/index.tsx
  src/schemas/talk.ts
  src/services/talkService.ts
  src/types/sanity.ts
  tsconfig.json
Due: eslint, prettier

chore(infrastructure): change git flow
  .github/workflows/deploy-live.yml
  .github/workflows/deploy.yml
Due: prettier

chore(infrastructure): change git flow
  .github/actions/build/action.yml
  .github/workflows/build.yml
  .github/workflows/deploy-live.yml
  .github/workflows/deploy.yml
  .gitignore
  package.json
  pnpm-lock.yaml
  src/components/TalkItem/TalkItem.css.ts
  src/components/__tests__/__mocks__/talk.ts
  src/utils/mdToHtml.ts
  turbo.json
Due: eslint, prettier

chore(infrastructure): change git flow
  package.json
Due: prettier

chore(infrastructure): change git flow
  src/utils/mdToHtml.ts
Due: eslint, prettier

chore(tests): fix flaky tests
  e2e/commandmenu.spec.ts
Due: eslint, prettier

chore(tests): fix flaky tests
  Makefile
Due: none

feat(frontend): add framer motion
  package.json
  src/app/about/page.tsx
  src/app/blog/page.client.tsx
  src/app/blog/page.tsx
  src/app/page.tsx
  src/app/projects/page.tsx
  src/app/work/page.tsx
  src/components/ExperienceItem/index.tsx
  src/components/FadeIn.tsx
  src/components/Header/index.tsx
  src/components/Intro/index.tsx
  src/components/Page.tsx
  src/components/PageTransition.tsx
  src/components/PostItem/index.tsx
  src/components/ProjectItem/index.tsx
  src/components/StaggerContainer.tsx
  src/components/StaggerItem.tsx
  src/components/WorkItem/index.tsx
Due: eslint, prettier

feat(frontend): improve mobile nav
  src/components/Header/Header.css.ts
  src/components/Header/index.tsx
Due: eslint, prettier

fix(tests): regen snapshots
  src/components/ExperienceItem/__snapshots__/ExperienceItem.test.tsx.snap
  test/setupGlobals.js
Due: eslint, prettier

chore: set sentry rate to 20%
  sentry.edge.config.ts
  sentry.server.config.ts
Due: eslint, prettier

feat(frontend): improve job listing page
  src/components/ExperienceItem/ExperienceItem.test.tsx
  src/components/ExperienceItem/__snapshots__/ExperienceItem.test.tsx.snap
  src/components/ExperienceItem/index.tsx
  src/config/jobs.ts
Due: eslint, prettier

feat(frontend): improve job listing page (#4693)
  src/components/ExperienceItem/ExperienceItem.test.tsx
  src/components/ExperienceItem/__snapshots__/ExperienceItem.test.tsx.snap
  src/components/ExperienceItem/index.tsx
  src/config/jobs.ts
Due: eslint, prettier

chore: update next
  package.json
  pnpm-lock.yaml
Due: prettier

chore: update next
  src/app/projects/[slug]/page.tsx
  src/services/projectService.ts
Due: eslint, prettier

chore: update next
  src/app/work/[slug]/page.tsx
Due: eslint, prettier

chore: update next
  .env.example
  src/app/work/[slug]/page.tsx
Due: eslint, prettier

chore: update next
  package.json
Due: prettier

chore: update next
  bun.lock
  pnpm-lock.yaml
Due: none

feat(frontend): add llms.txt route
  src/app/llms.txt/route.ts
Due: eslint, prettier

fix(frontend): fix css
  src/styles/prism.css
Due: prettier

@luke h1/fix/fix css (#4706)
  src/app/llms.txt/route.ts
  src/styles/prism.css
Due: eslint, prettier

chore: fix build
  .github/actions/install/action.yml
Due: prettier

chore: fix build
  next.config.js
  package.json
  pnpm-lock.yaml
Due: eslint, prettier

Path conditions:
  eslint: any of: *.{js,ts,jsx,tsx}
  prettier: any of: *.{js,jsx,ts,tsx,css,scss,md,html,json,yml}
