Repository luke-h1/lhowsam.com: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier

eslint:
  run: eslint {staged_files} --fix --quiet
  stage_fixed: true

prettier:
  run: ./node_modules/.bin/prettier --write "{staged_files}"
  stage_fixed: true

fix(infra): fix infra
  .github/workflows/deploy-staging.yml
  terraform/ecs.tf
Due: prettier

fix(infra): fix build
  .github/workflows/deploy-staging.yml
Due: prettier

fix(inffa): infra fix
  terraform/main.tf
Due: none

fix(infra): fix infra
  .github/workflows/destroy-staging.yml
  terraform/backend.tf
Due: prettier

fix(infra): backend.tf create
  terraform/backend.tf
  terraform/main.tf
Due: none

fix(infra): fix infra
  .github/workflows/deploy-staging.yml
Due: prettier

fix(infra): fix build
  .github/workflows/deploy-staging.yml
  terraform/staging.tfvars
Due: prettier

feat(infra): fix infra
  terraform/api-gateway.tf
Due: none

fix(infra): infra fixes
  terraform/api-gateway.tf
Due: none

fix(infra): logs
  terraform/ecs.tf
Due: none

fix(infra): x86x64 image
  terraform/variables.tf
Due: none

feat(infra): staging infra
  .github/workflows/deploy-staging.yml
  terraform/api-gateway.tf
  terraform/backend.tf
  terraform/ecr.tf
  terraform/ecs.tf
  terraform/igw.tf
  terraform/main.tf
  terraform/staging.tfvars
Due: prettier

fix(infra): infra
  .github/workflows/deploy-staging.yml
Due: prettier

fix(infra): infra
  .github/workflows/deploy-staging.yml
  package.json
  pnpm-lock.yaml
Due: prettier

fix(infra): infra
  .github/actions/install/action.yml
  .github/workflows/build.yml
  .github/workflows/dev-ui-tests.yml
  .github/workflows/live-ui-tests.yml
  .github/workflows/nextjs_bundle_analysis.yml
Due: prettier

fix(infra): infra
  terraform/main.tf
Due: none

fix(infra): infra
  .github/workflows/deploy-staging.yml
  open-next.config.ts
  package.json
  pnpm-lock.yaml
  terraform/main.tf
  terraform/variables.tf
Due: eslint, prettier

feat(frontend): otel
  instrumentation.ts
  next.config.js
  package.json
  pnpm-lock.yaml
  src/app/layout.tsx
Due: eslint, prettier

feat(frontend): otel
  .github/workflows/build.yml
Due: prettier

chore(frontend): only enable otel on prod
  next.config.js
Due: eslint, prettier

chore(ci): fix build
  .github/workflows/deploy.yml
  .github/workflows/dev-ui-tests.yml
  .github/workflows/live-ui-tests.yml
Due: prettier

chore(frontend): log home page to new relic
  src/app/page.tsx
Due: eslint, prettier

fix(frontend): add nr to csp
  next.config.js
Due: eslint, prettier

chore(frontend): general cleanup
  .github/labeler.yml
  .github/workflows/clear-cache.yml
  .github/workflows/deploy-staging.yml
  .github/workflows/stale-pr-check.yml
  next.config.js
  package.json
  pnpm-lock.yaml
  src/types/env.d.ts
  terraform/api-gateway.tf
  terraform/ecr.tf
  terraform/ecs.tf
  terraform/igw.tf
  terraform/main.tf
  terraform/variables.tf
  tsconfig.json
  tsconfig.server.json
  vercel.json
Due: eslint, prettier

chore(frontend): remove middleware to test invocation usage on vercel
  src/middleware.ts
Due: eslint, prettier

chore(tests): remove basic-auth for dev temporarily
  playwright-dev.config.ts
Due: eslint, prettier

chore(frontend): update deps
  package.json
  pnpm-lock.yaml
Due: prettier

fix(frontend): fix build
  next.config.js
  src/app/layout.tsx
Due: eslint, prettier

fix(tests): exclude test traffic from ga
  package.json
  playwright-ci.config.ts
  playwright-common.config.ts
  src/app/layout.tsx
  src/components/Analytics.tsx
  src/hooks/useLocalStorage.ts
Due: eslint, prettier

refactor(tests): simplify test scripts
  .github/actions/build/action.yml
  .github/actions/ui-test/action.yml
  Makefile
  package.json
  playwright-ci.config.ts
  playwright-common.config.ts
Due: eslint, prettier

feat(frontend): prerender slug pages
  src/app/blog/[slug]/page.tsx
  src/app/projects/[slug]/page.tsx
  src/app/sitemap.ts
  src/services/postService.ts
  src/services/projectService.ts
Due: eslint, prettier

refactor(tests): refactor domain test
  e2e/domain.spec.ts
Due: eslint, prettier

refactor(frontend): move details to version endpoint
  .github/actions/deploy/action.yml
  src/app/api/healthcheck/healthcheck.test.ts
  src/app/api/healthcheck/route.ts
  src/app/api/version/route.ts
  src/app/api/version/version.test.ts
Due: eslint, prettier

chore(frontend): update deps
  package.json
  pnpm-lock.yaml
  src/app/status/page.tsx
Due: eslint, prettier

chore(frontend): remove stray status page
  src/app/status/page.tsx
Due: eslint, prettier

Path conditions:
  eslint: any of: *.{js,ts,jsx,tsx}
  prettier: any of: *.{js,jsx,ts,tsx,css,scss,md,html,json,yml}
