Repository luke-h1/lhowsam.com: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier

eslint:
  run: eslint {staged_files} --fix --quiet
  stage_fixed: true

prettier:
  run: ./node_modules/.bin/prettier --write "{staged_files}"
  stage_fixed: true

fix(tests): fix dev ui tests
  playwright-dev.config.ts
Due: eslint, prettier

fix(tests): fix dev tests
  playwright-ci.config.ts
Due: eslint, prettier

fix(tests): fix flaky tests
  src/components/NowPlaying/NowPlaying.tsx
Due: eslint, prettier

chore(frontend): update deps
  package.json
  pnpm-lock.yaml
Due: prettier

chore(frontend): update next.js
  package.json
  pnpm-lock.yaml
Due: prettier

fix(infrastructure): fix build
  .env.example
  package.json
  pnpm-lock.yaml
  src/app/api/og/route.tsx
  src/components/PostHogFeature.tsx
  src/types/env.d.ts
  src/utils/posthog.ts
Due: eslint, prettier

chore(frontend): remove unused docker images
  Dockerfile.production
  Dockerfile.production.arm
Due: none

test(frontend): setup jest tests for vanilla extract
  babel.config.js
  jest.config.js
  jest.setup.ts
  next.config.js
  package.json
  pnpm-lock.yaml
  src/components/__tests__/Box.test.tsx
  src/test/createLocalStorageMock.ts
  src/test/mockDate.ts
  src/test/render.tsx
  src/types/util.ts
  test/cssTransform.js
  test/fileTransform.js
  test/setupGlobals.js
  test/setupTests.js
  tsconfig.json
Due: eslint, prettier

fix(infrastructure): checkout main for prod UI tests
  .github/workflows/live-ui-tests.yml
Due: prettier

chore(frontend): update cv
  public/static/cv.pdf
Due: none

fix(infrastructure): fix build
  .github/workflows/deploy.yml
  .github/workflows/dev-ui-tests.yml
  .github/workflows/live-ui-tests.yml
  .github/workflows/stale-pr-check.yml
Due: prettier

fix(frontend): performance improvements
  src/app/about/page.tsx
  src/app/page.tsx
  src/components/Page.tsx
Due: eslint, prettier

fix(frontend): accesibility improvements
  src/components/NowPlaying/NowPlaying.css.ts
  src/components/ProjectItem/index.tsx
Due: eslint, prettier

fix(frontend): homepage spacing fixes
  src/app/page.tsx
  src/components/Hero/Hero.css.ts
  src/components/Hero/index.tsx
  src/styles/variables.css.ts
Due: eslint, prettier

fix(infrastructure): fix build
  src/components/Footer/__snapshots__/Footer.test.tsx.snap
Due: none

fix(frontend): accesibility fixes
  src/components/Hero/Hero.css.ts
  src/components/ProjectItem/index.tsx
Due: eslint, prettier

fix(frontend): perf improvements
  src/app/page.tsx
  src/components/ProjectItem/ProjectItem.test.tsx
Due: eslint, prettier

fix(frontend): style fixes
  src/components/Hero/Hero.css.ts
Due: eslint, prettier

chore(frontend): general cleanup
  package.json
  pnpm-lock.yaml
  src/app/layout.tsx
  src/app/page.tsx
  src/config/analytics.ts
Due: eslint, prettier

chore(frontend): style tweaks
  src/app/about/page.tsx
  src/app/blog/[slug]/page.tsx
  src/app/projects/[slug]/page.tsx
  src/components/PageHeader/index.tsx
Due: eslint, prettier

chore(frontend): style tweaks
  src/components/Hero/Hero.css.ts
Due: eslint, prettier

chore(frontend): talk page style cleanup
  src/app/talks/page.tsx
  src/components/Hero/Hero.css.ts
  src/styles/variables.css.ts
Due: eslint, prettier

chore(infrastructure): fix build
  src/app/favicon.ico
  src/components/Footer/__snapshots__/Footer.test.tsx.snap
Due: none

fix(frontend): accesibility issues on light mode
  src/components/Footer/index.tsx
Due: eslint, prettier

fix(tests): silence warnings in tests
  test/setupGlobals.js
Due: eslint, prettier

fix(frontend): fix talk item heading
  src/components/TalkItem/index.tsx
Due: eslint, prettier

chore(frontend): testing perf GA analytics changes
  src/app/layout.tsx
Due: eslint, prettier

fix(frontend): project fixes
  src/app/projects/[slug]/page.tsx
Due: eslint, prettier

refactor(infrastructure): cleanup env var setting
  .github/workflows/deploy.yml
Due: prettier

fix(frontend): fix code width
  src/components/ContentRenderer.tsx
Due: eslint, prettier

refactor(infrastructure): use composite actions
  .github/actions/build/action.yml
  .github/actions/deploy/action.yml
  .github/workflows/build.yml
  .github/workflows/deploy.yml
  .gitignore
Due: prettier

refactor(infrastructure): composite actions
  .github/actions/deploy/action.yml
Due: prettier

Path conditions:
  eslint: any of: *.{js,ts,jsx,tsx}
  prettier: any of: *.{js,jsx,ts,tsx,css,scss,md,html,json,yml}
