Repository luke-h1/lhowsam.com: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier

lefthook.yml:

EXAMPLE USAGE:
pre-commit:
  parallel: true
  commands:
    eslint:
      glob: "*.{js,ts,jsx,tsx}"
      run: eslint {staged_files} --fix --quiet
      stage_fixed: true
    
    prettier:
      glob: '*.{js,jsx,ts,tsx,css,scss,md,html,json,yml}'
      run: ./node_modules/.bin/prettier --write "{staged_files}"
      stage_fixed: true

feat(frontend): wip monitoring
  package.json
  pnpm-lock.yaml
  src/app/page.tsx
  src/utils/pino.ts
Due: eslint, prettier

feat(frontend): instrument more pages with new-relic
  src/app/error.tsx
  src/app/not-found.tsx
  src/app/page.tsx
  src/app/work/page.tsx
Due: eslint, prettier

fix(frontend): fix build
  src/app/error.tsx
Due: eslint, prettier

chore(frontend): increase revalidation time
  src/config/site.ts
Due: eslint, prettier

feat(frontend): add million to next config
  next.config.js
  package.json
  pnpm-lock.yaml
Due: eslint, prettier

chore(frontend): update cv
  public/static/cv.pdf
Due: none

refactor(infrastructure): move install out of build step
  .github/actions/build/action.yml
  .github/workflows/build.yml
  .github/workflows/deploy.yml
Due: prettier

feat(infrastructure): update node
  .nvmrc
Due: none

chore(frontend): update deps
  package.json
  pnpm-lock.yaml
Due: prettier

chore(frontend): cleanup million
  next.config.js
  package.json
  pnpm-lock.yaml
Due: eslint, prettier

chore(frontend): initial cloudflare setup
  instrumentation.ts
  new-relic-instrumentation.js
  package.json
  pnpm-lock.yaml
  src/app/(admin)/studio/[[...index]]/page.tsx
  src/app/api/basicauth/route.ts
  src/app/api/disable-draft/route.ts
  src/app/api/draft/route.ts
  src/app/api/healthcheck/route.ts
  src/app/api/metrics/route.ts
  src/app/api/now-playing/route.ts
  src/app/api/version/route.ts
  src/app/blog/[slug]/page.tsx
  src/app/blog/tags/[slug]/page.tsx
  src/app/not-found.tsx
  src/app/page.tsx
  src/app/projects/[slug]/page.tsx
  src/app/work/[slug]/page.tsx
  src/app/work/page.tsx
  src/hooks/useLoggedReducer.ts
  src/utils/logger.ts
  wrangler.toml
Due: eslint, prettier

chore(frontend): remove million
  next.config.js
Due: eslint, prettier

fix(infrastructure): fix build
  package.json
Due: prettier

fix(frontend): fix build
  pnpm-lock.yaml
Due: none

fix(infrastructure): fix ci build issues
  new
  next.config.js
  package.json
  pnpm-lock.yaml
  src/app/(admin)/studio/[[...index]]/page.tsx
  src/app/api/basicauth/route.ts
  src/app/api/disable-draft/route.ts
  src/app/api/draft/route.ts
  src/app/api/healthcheck/route.ts
  src/app/api/now-playing/route.ts
  src/app/api/version/route.ts
  src/app/blog/[slug]/page.tsx
  src/app/blog/tags/[slug]/page.tsx
  src/app/projects/[slug]/page.tsx
  src/app/work/[slug]/page.tsx
  wrangler.toml
Due: eslint, prettier

test(frontend): add NowPlaying unit test
  src/components/NowPlaying/NowPlaying.test.tsx
Due: eslint, prettier

test(frontend): improve test coverage
  src/app/api/now-playing/route.ts
  src/components/Intro/Intro.test.tsx
  src/components/WorkItem/WorkItem.test.tsx
  src/components/Works/Works.css.ts
  src/components/Works/index.tsx
  src/components/__tests__/__mocks__/work.ts
  src/hooks/useFeatureFlag.ts
Due: eslint, prettier

chore(frontend): disable now-playing next endpoint
  src/app/api/now-playing/route.ts
Due: eslint, prettier

chore(infrastructure): 14hr ui test schedule
  .github/workflows/dev-ui-tests.yml
  .github/workflows/live-ui-tests.yml
Due: prettier

chore(frontend): update to next.js 15
  next.config.js
  package.json
  pnpm-lock.yaml
  src/app/api/disable-draft/route.ts
  src/app/api/draft/route.ts
  src/app/blog/[slug]/page.tsx
  src/app/blog/page.tsx
  src/app/blog/tags/[slug]/page.tsx
  src/app/page.tsx
  src/app/projects/[slug]/page.tsx
  src/app/projects/page.tsx
  src/app/work/[slug]/page.tsx
  src/components/CommandMenu/CommandMenu.test.tsx
  src/components/CommandMenu/index.tsx
  src/components/SocialShare/SocialShare.test.tsx
  src/components/sanity/CustomMarkdownInput.tsx
  src/hooks/useDebouncedCallback.ts
  src/hooks/useInterval.ts
  src/hooks/useMountedRef.ts
  src/test/render.tsx
  src/types/style.ts
Due: eslint, prettier

fix(frontend): update csp
  next.config.js
Due: eslint, prettier

fix(frontend): fix csp issues
  next.config.js
Due: eslint, prettier

chore(frontend): update styling deps
  package.json
  pnpm-lock.yaml
  src/components/ExperienceItem/__snapshots__/ExperienceItem.test.tsx.snap
  src/components/Skills/__snapshots__/Skills.test.tsx.snap
  src/components/ThemeSelect/__snapshots__/ThemeSelect.test.tsx.snap
Due: prettier

chore(frontend): update minor next version
  package.json
  pnpm-lock.yaml
Due: prettier

feat(frontend): add query params to blog page
  e2e/blog.spec.ts
  next-env.d.ts
  package.json
  pnpm-lock.yaml
  src/app/about/page.tsx
  src/app/blog/[slug]/page.tsx
  src/app/blog/page.client.test.tsx
  src/app/blog/page.client.tsx
  src/app/blog/page.tsx
  src/app/projects/[slug]/page.tsx
  src/components/Input/Input.css.ts
  src/components/Input/index.tsx
  src/components/NowPlaying/index.tsx
  src/components/ProjectItem/index.tsx
  src/components/TalkItem/index.tsx
  src/test/appRouterMock.tsx
  test/setupGlobals.js
  test/setupTests.js
Due: eslint, prettier

feat(frontend): add links to site for work posts
  src/app/work/[slug]/page.tsx
  src/components/Meta/index.tsx
  src/schemas/work.ts
  src/services/spotifyService.ts
  src/types/sanity.ts
Due: eslint, prettier

chore(frontend): rename infra project
  next.config.js
Due: eslint, prettier

feat(frontend): add sort order to blog page
  .github/workflows/build.yml
  e2e/blog.spec.ts
  next.config.js
  src/app/blog/page.client.test.tsx
  src/app/blog/page.client.tsx
  src/components/Input/Input.css.ts
  src/components/Input/index.tsx
  src/components/PostItem/PostItem.test.tsx
  src/components/Select/Select.css.ts
  src/components/Select/index.tsx
  src/test/__mocks__/post.ts
  src/types/sanity.ts
Due: eslint, prettier

chore(frontend): update minor fe deps
  package.json
  pnpm-lock.yaml
Due: prettier

fix(infrastructure): fix vc command not found
  .github/actions/deploy/action.yml
Due: prettier

fix(infrastructure): fix vercel command not found
  .github/actions/deploy/action.yml
Due: prettier

fix(frontend): fix header issue
  src/data/uses.ts
Due: eslint, prettier

chore(frontend): enable experimental hmr cache
  next.config.js
Due: eslint, prettier

fix(frontend): update skills section
  src/components/SkillItem/index.tsx
  src/components/Skills/index.tsx
  src/utils/__tests__/toCamelCase.test.ts
Due: eslint, prettier

test(frontend): fix skills test
  src/components/Skills/Skills.test.tsx
  src/components/Skills/__snapshots__/Skills.test.tsx.snap
Due: eslint, prettier

chore(frontend): increase revalidate time
  src/app/blog/[slug]/page.tsx
  src/app/blog/page.tsx
  src/app/blog/tags/[slug]/page.tsx
  src/app/page.tsx
  src/app/projects/[slug]/page.tsx
  src/app/projects/page.tsx
  src/app/work/[slug]/page.tsx
  src/config/site.ts
Due: eslint, prettier

feat(frontend): add new job
  src/components/ExperienceItem/ExperienceItem.test.tsx
  src/components/ExperienceItem/__snapshots__/ExperienceItem.test.tsx.snap
  src/config/jobs.ts
Due: eslint, prettier

chore(frontend): update minor deps
  package.json
  pnpm-lock.yaml
Due: prettier
