Repository luke-h1/lhowsam.com: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier

eslint:
  run: eslint {staged_files} --fix --quiet
  stage_fixed: true

prettier:
  run: ./node_modules/.bin/prettier --write "{staged_files}"
  stage_fixed: true

test(infrastructure): add failure notification for ui test runs (live)
  .github/workflows/live-ui-tests.yml
  scripts/ensure-rebased.sh
Due: prettier

chore(test): improve discord failure message
  .github/workflows/live-ui-tests.yml
Due: prettier

chore(test): finalize discord message for failed ui tests
  .github/workflows/live-ui-tests.yml
Due: prettier

chore(test): add status pages to ui test fail alert
  .github/workflows/live-ui-tests.yml
Due: prettier

chore(infrastructure): updating name for rebase
  .github/actions/build/action.yml
  .github/workflows/deploy.yml
Due: prettier

chore(frontend): update deps
  package.json
  pnpm-lock.yaml
Due: prettier

chore(frontend): add prom endpoint
  src/app/api/metrics/route.ts
Due: eslint, prettier

feat(frontend): add prometheus metrics endpoint
  src/app/api/metrics/route.ts
Due: eslint, prettier

fix(frontend): fix prometheus metrics endpoint
  src/app/api/metrics/route.ts
Due: eslint, prettier

chore(frontend): update pnpm
  .github/workflows/build.yml
  .github/workflows/deploy.yml
  .github/workflows/dev-ui-tests.yml
  .github/workflows/live-ui-tests.yml
  .github/workflows/nextjs_bundle_analysis.yml
Due: prettier

chore(ci): run ui tests on dev every hour
  .github/workflows/dev-ui-tests.yml
Due: prettier

fix(frontend): fix fe header warning
  package.json
  pnpm-lock.yaml
  src/components/Header/index.tsx
Due: eslint, prettier

fix(frontend): padding on ThemeSelect
  src/components/ThemeSelect/ThemeSelect.css.ts
Due: eslint, prettier

fix(frontend): code style fixes
  src/components/ContentRenderer.tsx
  src/styles/prism.css
Due: eslint, prettier

chore(frontend): style code
  src/styles/prism.css
Due: prettier

chore(frontend): general tidy up
  src/app/blog/[slug]/page.tsx
  src/app/blog/page.tsx
  src/app/blog/tags/[slug]/page.tsx
  src/app/error.tsx
  src/app/feed.xml/route.ts
  src/app/not-found.tsx
  src/app/page.tsx
  src/app/projects/[slug]/page.tsx
  src/app/projects/page.tsx
  src/app/sitemap.ts
  src/app/talks/page.tsx
  src/app/work/page.tsx
  src/components/ErrorContent.tsx
Due: eslint, prettier

chore(frontend): update cv
  public/static/cv.pdf
Due: none

chore(frontend): update cache header for static assets
  next.config.mjs
Due: none

chore(ci): normal ui test schedule
  .github/workflows/dev-ui-tests.yml
Due: prettier

chore(frontend): re-order section
  src/app/page.tsx
Due: eslint, prettier

fix(frontend): preview cors fixes
  next.config.mjs
Due: none

fix(frontend): cors opts
  next.config.mjs
Due: none

chore(frontend): update next
  package.json
  pnpm-lock.yaml
Due: prettier

chore(frontend): update minor deps
  package.json
  pnpm-lock.yaml
Due: prettier

feat(frontend): improve code styling
  src/components/ContentRenderer.tsx
  src/styles/app.css.ts
  src/styles/prism.css
Due: eslint, prettier

Path conditions:
  eslint: any of: *.{js,ts,jsx,tsx}
  prettier: any of: *.{js,jsx,ts,tsx,css,scss,md,html,json,yml}
