Repository luke-h1/lhowsam.com: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier

eslint:
  run: eslint {staged_files} --fix --quiet
  stage_fixed: true

prettier:
  run: ./node_modules/.bin/prettier --write "{staged_files}"
  stage_fixed: true

chore(infrastructure): bump action version
  playwright-dev.config.ts
Due: eslint, prettier

chore(frontend): deploy updated cv
  public/static/cv.pdf
Due: none

feat(frontend): update intro
  src/components/Intro/index.tsx
Due: eslint, prettier

feat(frontend): update intro
  src/components/Intro/Intro.test.tsx
Due: eslint, prettier

fix(frontend): patch up seo
  src/app/about/page.tsx
  src/app/api/now-playing/route.ts
  src/app/layout.tsx
  src/app/opengraph.png
  src/app/page.tsx
  src/app/projects/page.tsx
  src/app/talks/page.tsx
  src/app/work/page.tsx
  src/config/site.ts
  src/middleware.ts
Due: eslint, prettier

chore: remove middleware
  src/middleware.ts
Due: eslint, prettier

chore(dependencies): update jest
  package.json
  pnpm-lock.yaml
  src/components/CommandMenu/CommandMenu.test.tsx
  src/components/ExperienceItem/__snapshots__/ExperienceItem.test.tsx.snap
Due: eslint, prettier

chore(dependencies): update next
  package.json
  pnpm-lock.yaml
Due: prettier

feat(frontend): add twitter link
  e2e/footer.spec.ts
  src/components/Footer/index.tsx
Due: eslint, prettier

chore(ci): attempt to resolve flaky playwright ci
  bun.lock
  playwright-common.config.ts
Due: eslint, prettier

chore(ci): attempt to resolve flaky playwright ci
  bun.lock
Due: none

chore(ci): workers change
  playwright-common.config.ts
Due: eslint, prettier

feat(frontend): add social redirects
  next.config.js
Due: eslint, prettier

chore(ci): tentatitive fix for ci problems
  .github/actions/ui-test/action.yml
  .github/workflows/live-ui-tests.yml
  Makefile
Due: prettier

chore(deps): update deps
  package.json
Due: prettier

chore(ci): tentatitive fix for ci problems
  pnpm-lock.yaml
Due: none

feat(frontend): add open to work button
  src/app/about/page.tsx
Due: eslint, prettier

chore(frontend): update email address
  src/app/about/page.tsx
  src/components/Footer/index.tsx
Due: eslint, prettier

feat(frontend): update work
  src/components/ExperienceItem/index.tsx
  src/config/jobs.ts
Due: eslint, prettier

feat(frontend): update work
  src/components/ExperienceItem/__snapshots__/ExperienceItem.test.tsx.snap
  src/test/render.tsx
Due: eslint, prettier

feat(frontend): update work
  src/components/ExperienceItem/index.tsx
Due: eslint, prettier

feat(frontend): update work (#4684)
  src/components/ExperienceItem/__snapshots__/ExperienceItem.test.tsx.snap
  src/components/ExperienceItem/index.tsx
  src/config/jobs.ts
  src/test/render.tsx
Due: eslint, prettier

merge dev into main (#4682)
  .github/actions/ui-test/action.yml
  .github/workflows/live-ui-tests.yml
  Makefile
  package.json
  pnpm-lock.yaml
  src/app/about/page.tsx
  src/components/ExperienceItem/__snapshots__/ExperienceItem.test.tsx.snap
  src/components/ExperienceItem/index.tsx
  src/components/Footer/index.tsx
  src/config/jobs.ts
  src/test/render.tsx
Due: eslint, prettier

chore(frontend): change pkg name
  package.json
Due: prettier

chore(frontend): deploy to prod (#4685)
  package.json
Due: prettier

feat(frontend): enable sanity previews
  next.config.js
  package.json
  pnpm-lock.yaml
  sanity.config.ts
  src/app/(admin)/studio/[[...index]]/page.tsx
  src/app/actions.ts
  src/app/api/disable-draft/route.ts
  src/app/api/draft-mode/enable/route.ts
  src/app/api/draft/route.ts
  src/app/blog/[slug]/page.tsx
  src/app/layout.tsx
  src/app/page.tsx
  src/components/DisableDraftMode.tsx
  src/components/sanity/util/defaultDocumentNode.ts
  src/components/sanity/util/resolveProductionUrl.ts
  src/services/postService.ts
  src/services/projectService.ts
  src/services/workService.ts
  src/types/env.d.ts
  src/utils/sanity.client.ts
  src/utils/sanity.live.ts
Due: eslint, prettier

feat(frontend): enable sanity previews
  src/components/MDXComponents.tsx
  src/components/PostItem/index.tsx
  src/components/WorkItem/index.tsx
  src/services/postService.ts
  src/services/workService.ts
Due: eslint, prettier

feat(frontend): enable sanity previews
  src/components/MDXComponents.tsx
Due: eslint, prettier

feat(frontend): enable sanity previews
  package.json
  pnpm-lock.yaml
  sanity.config.ts
  src/components/MDXComponents.tsx
  src/components/MuxVideo.tsx
  src/schemas/fields/altField.ts
  src/schemas/fields/index.ts
  src/schemas/index.ts
  src/schemas/post.ts
  src/schemas/talk.ts
  src/schemas/work.ts
  src/utils/parseVideoShortcodes.ts
  tsconfig.json
Due: eslint, prettier

feat(frontend): enable sanity previews
  src/schemas/work.ts
Due: eslint, prettier

feat(frontend): enable sanity previews
  next.config.js
  src/schemas/work.ts
Due: eslint, prettier

feat(frontend): enable sanity previews
  src/app/work/[slug]/page.tsx
  src/components/ContentRenderer.tsx
  src/components/MuxVideo.tsx
  src/services/workService.ts
  src/types/sanity.ts
Due: eslint, prettier

feat(frontend): enable sanity previews
  .nvmrc
  pnpm-lock.yaml
  src/components/MuxVideo.tsx
Due: eslint, prettier

feat(frontend): enable sanity previews
  test/setupTests.js
Due: eslint, prettier

feat(frontend): enable sanity previews
  src/components/CommandMenu/index.tsx
  src/components/ExperienceItem/__snapshots__/ExperienceItem.test.tsx.snap
  src/components/Skills/__snapshots__/Skills.test.tsx.snap
  src/components/ThemeSelect/__snapshots__/ThemeSelect.test.tsx.snap
Due: eslint, prettier

feat(frontend): enable sanity live revalidation
  package.json
  scripts/test-revalidation.ts
  src/app/api/revalidate/route.ts
  src/app/blog/page.tsx
  src/app/projects/page.tsx
  src/app/work/page.tsx
Due: eslint, prettier

feat(frontend): enable sanity live revalidation
  src/app/blog/[slug]/page.tsx
  src/app/blog/page.tsx
  src/app/blog/tags/[slug]/page.tsx
  src/app/page.tsx
  src/app/projects/[slug]/page.tsx
  src/app/projects/page.tsx
  src/app/talks/page.tsx
  src/app/work/[slug]/page.tsx
  src/app/work/page.tsx
Due: eslint, prettier

Path conditions:
  eslint: any of: *.{js,ts,jsx,tsx}
  prettier: any of: *.{js,jsx,ts,tsx,css,scss,md,html,json,yml}
