Repository luke-h1/lhowsam.com: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier

lefthook.yml:

EXAMPLE USAGE:
pre-commit:
  parallel: true
  commands:
    eslint:
      glob: "*.{js,ts,jsx,tsx}"
      run: eslint {staged_files} --fix --quiet
      stage_fixed: true
    
    prettier:
      glob: '*.{js,jsx,ts,tsx,css,scss,md,html,json,yml}'
      run: ./node_modules/.bin/prettier --write "{staged_files}"
      stage_fixed: true

feat(frontend): lefthook
  lefthook.yml
Due: prettier

feat(frontend): lefthook
  .husky/.gitignore
  .husky/pre-commit
Due: none

feat(frontend): migrate to app dir
  src/app/layout.tsx
Due: eslint, prettier

feat(frontend): migrate to app dir
  src/app/page.tsx
Due: eslint, prettier

chore(frontend): add key to keywords meta
  src/pages/_document.tsx
Due: eslint, prettier

chore(frontend): add document meta desc
  src/app/layout.tsx
  src/config/site.ts
Due: eslint, prettier

chore(frontend): fix contrast issues
  src/styles/global.scss
Due: prettier

chore(frontend): fix contrast issues
  src/components/ErrorContent.tsx
Due: eslint, prettier

feat(frontend): update dependencies
  package.json
  pnpm-lock.yaml
Due: prettier

Update depenabot.yml
  .github/depenabot.yml
Due: prettier

feat(frontend): migrate to renovate
  .github/depenabot.yml
  renovate.json
Due: prettier

Update renovate.json
  renovate.json
Due: prettier

fix(frontend): fix tsc issues
  src/utils/sanity.preview.ts
Due: eslint, prettier

fix(frontend): og url
  src/app/layout.tsx
Due: eslint, prettier

chore(frontend): add GA back in after Next.js 13 app dir migration
  src/app/layout.tsx
  src/components/Analytics.tsx
  src/components/Providers.tsx
Due: eslint, prettier

chore(frontend): add GA back in after Next.js 13 app dir migration
  src/components/Analytics.tsx
Due: eslint, prettier

chore(frontend): only run analytics in prod
  src/components/Analytics.tsx
Due: eslint, prettier

feat(frontend): upgrade dependencies
  package.json
  pnpm-lock.yaml
Due: prettier

feat(frontend): update dependencies
  package.json
  pnpm-lock.yaml
  src/app/page.tsx
Due: eslint, prettier

fix(frontend): fix issues with next.js 13 & react-query
  src/app/blog/page.tsx
  src/app/error.tsx
  src/app/layout.tsx
  src/app/page.tsx
  src/app/projects/page.tsx
  src/components/ErrorContent.tsx
  src/components/Footer/Footer.module.scss
  src/components/Footer/Footer.tsx
  src/components/Hydrate.tsx
  src/components/Page/Page.module.scss
  src/components/Page/Page.tsx
  src/components/Providers.tsx
Due: eslint, prettier

fix(frontend): fix issues with next.js 13 & react-query
  src/components/Footer/Footer.tsx
Due: eslint, prettier

fix(frontend): general UI test cleanup
  e2e/utils/getMetaKey.ts
  playwright-ci.config.ts
  playwright-common.config.ts
  playwright-dev.config.ts
Due: eslint, prettier

fix(frontend): move back to pages dir
  src/app/about/page.tsx
  src/app/api/now-playing/route.ts
  src/app/blog/[slug]/page.tsx
  src/app/blog/page.tsx
  src/app/error.tsx
  src/app/layout.tsx
  src/app/page.tsx
  src/app/projects/[slug]/page.tsx
  src/app/projects/page.tsx
  src/pages/404.tsx
  src/pages/500.tsx
  src/pages/About.module.scss
  src/pages/_app.tsx
  src/pages/about.tsx
  src/pages/blog/[slug].tsx
  src/pages/blog/index.module.scss
  src/pages/blog/index.tsx
  src/pages/blog/post.module.scss
  src/pages/blog/tags/[slug].tsx
  src/pages/index.module.scss
  src/pages/index.tsx
  src/pages/projects/[slug].tsx
  src/pages/projects/index.module.scss
  src/pages/projects/index.tsx
Due: eslint, prettier

feat(frontend): run serverless funcs in edge runtime
  src/app/api/basicauth/route.ts
  src/app/api/now-playing/route.ts
Due: eslint, prettier

chore(ci): cleanup ci
  .github/workflows/build.yml
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-prod.yml
  .github/workflows/dev-ui-tests.yml
  .github/workflows/prod-ui-tests.yml
Due: prettier

chore(frontend): only edge runtime for now-playing
  src/app/api/basicauth/route.ts
Due: eslint, prettier

Update package.json
  package.json
Due: prettier

fix(frontend): add missing seo for tags page
  src/pages/blog/tags/[slug].tsx
Due: eslint, prettier

fix(frontend): fix analyze comment
  .github/workflows/analyze-comment.yml
  .github/workflows/analyze.yml
Due: prettier

fix(frontend): fix analyze comment
  .github/workflows/analyze.yml
Due: prettier

feat(frontend): update dependencies to latest
  package.json
  pnpm-lock.yaml
Due: prettier

feat(frontend): comment out current work
  src/pages/about.tsx
Due: eslint, prettier
