Repository luke-h1/lhowsam.com: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier

eslint:
  run: eslint {staged_files} --fix --quiet
  stage_fixed: true

prettier:
  run: ./node_modules/.bin/prettier --write "{staged_files}"
  stage_fixed: true

refactor(infrastructure): composite deploy
  .github/actions/deploy/action.yml
Due: prettier

refactor(infrastructure): composite actions
  .github/actions/build/action.yml
  .github/actions/install/action.yml
  .github/actions/ui-test/action.yml
  .github/workflows/dev-ui-tests.yml
  .github/workflows/live-ui-tests.yml
Due: prettier

refactor(infrastructure): composite ui tests
  .github/actions/build/action.yml
Due: prettier

refactor(infrastructure): composite action
  .github/actions/ui-test/action.yml
Due: prettier

refactor(infrastructure): composite actions
  .github/actions/build/action.yml
Due: prettier

perf(infrastructure): increase test workers in CI
  playwright-ci.config.ts
Due: eslint, prettier

fix(frontend): fix tag content width
  src/app/blog/[slug]/page.tsx
  src/styles/util.css.ts
Due: eslint, prettier

fix(infrastructure): fix ui test workflows
  .github/actions/ui-test/action.yml
Due: prettier

fix(ci): fix composite actions
  .github/workflows/dev-ui-tests.yml
  .github/workflows/live-ui-tests.yml
Due: prettier

fix(ci): fix ci
  .github/workflows/dev-ui-tests.yml
Due: prettier

fix(ci): fix missing DEPLOYED_AT var
  .github/actions/deploy/action.yml
Due: prettier

fix(frontend): fix color of highlighted projects
  src/app/page.tsx
Due: eslint, prettier

chore(tests): silence warnings in unit tests
  test/setupGlobals.js
Due: eslint, prettier

fix(ci): fix deploy action
  .github/actions/deploy/action.yml
Due: prettier

feat(frontend): new relic
  newrelic.js
  next.config.js
  package.json
  src/app/layout.tsx
Due: eslint, prettier

fix(frontend): move favicon to public folder
  public/favicon.ico
Due: none

feat(frontend): add useLoggedReducer for debugging
  package.json
  pnpm-lock.yaml
  src/hooks/useLoggedReducer.ts
  src/utils/logger.ts
Due: eslint, prettier

chore(frontend): update deps
  package.json
  pnpm-lock.yaml
Due: prettier

chore(frontend): update deps
  .husky/pre-commit
  package.json
  pnpm-lock.yaml
Due: prettier

feat(frontend): new relic
  .env.example
  newrelic.js
  next.config.js
  package.json
  pnpm-lock.yaml
  src/types/env.d.ts
Due: eslint, prettier

feat(frontend): add newrelic browser logger
  src/app/layout.tsx
  src/app/page.tsx
  src/types/env.d.ts
  src/utils/nrLogger.ts
Due: eslint, prettier

chore(frontend): fix build
  src/app/layout.tsx
  src/app/page.tsx
Due: eslint, prettier

feat(frontend): add staging aws infra
  .github/workflows/deploy-staging.yml
  .gitignore
  terraform/api-gateway.tf
  terraform/ecr.tf
  terraform/ecs.tf
  terraform/igw.tf
  terraform/main.tf
  terraform/variables.tf
Due: prettier

fix(infrastructure): fix tf build
  terraform/ecs.tf
Due: none

fix(infrastructure): fix tf build
  .github/workflows/deploy-staging.yml
Due: prettier

fix(infra): fix infra build
  .github/workflows/deploy-staging.yml
Due: prettier

fix(infra): fix tf build
  .github/workflows/deploy-staging.yml
  Dockerfile
Due: prettier

fix(infra): infra fix
  .github/workflows/deploy-staging.yml
Due: prettier

fix(infra): fix build
  .github/workflows/deploy-staging.yml
Due: prettier

fix(infra): fix infra
  .github/workflows/deploy-staging.yml
Due: prettier

fix(infrastructure): fix build
  Dockerfile
Due: none

fix(infra): fix infra
  Dockerfile
Due: none

Path conditions:
  eslint: any of: *.{js,ts,jsx,tsx}
  prettier: any of: *.{js,jsx,ts,tsx,css,scss,md,html,json,yml}
